In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [6]:
os.chdir(r'C:\Users\lilie\GitHubProjects\IronEstelle\Statistically_Significant_Insights\cleaned_data')
df = pd.read_csv('df_AllRatios.csv')

In [3]:
df.columns

Index(['Country', 'ratio', 'Temp', 'CO2'], dtype='object')

In [7]:
df.head()

   Country  ratio   Temp    CO2
0  Albania      1  29.01  12.29
1  Albania      2  -5.03   2.29
2  Albania      3  15.00   8.45
3  Algeria      1   0.64  33.13
4  Algeria      2  -1.36  97.52

In [8]:
df.corr()

          ratio      Temp       CO2
ratio  1.000000  0.275674  0.082354
Temp   0.275674  1.000000  0.053035
CO2    0.082354  0.053035  1.000000

In [ ]:
df.AvgCelsiusTemp.corr(df6.CO2).sort_values(ascending=False)