In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [104]:
os.chdir(r'C:\Users\lilie\GitHubProjects\IronEstelle\Statistically_Significant_Insights\cleaned_data')
df = pd.read_csv('df_AllRatios.csv')

# Ratios

In [27]:
df.columns

Index(['Country', 'Region', 'Ratio', 'Temp', 'CO2'], dtype='object')

In [105]:
df.head()

   Country  Region  Ratio      Temp       CO2
0  Albania  Europe      1  0.341535  0.662891
1  Albania  Europe      2 -0.062946  0.109938
2  Albania  Europe      3  0.158044  0.288593
3  Algeria  Africa      1  0.007086  0.082311
4  Algeria  Africa      2 -0.015288  0.195032

In [106]:
df.corr()

          Ratio      Temp       CO2
Ratio  1.000000  0.060620  0.048742
Temp   0.060620  1.000000  0.810245
CO2    0.048742  0.810245  1.000000

In [107]:
df.groupby('Region').Temp.corr(df.CO2).sort_values(ascending=False)

Region
Africa                               0.943999
South/Central America & Carribean    0.864506
Asia                                 0.809297
Middle East                          0.794985
Europe                               0.778827
Australia/South Pacific              0.352030
North America                        0.092177
Name: Temp, dtype: float64

In [112]:
df.loc[df.Region=='North America'].Country.unique()

array(['Canada', 'Mexico', 'US'], dtype=object)

In [113]:
df.loc[df.Country=='Canada'].Temp.corr(df.CO2) #drop

-0.9984558324161495

In [114]:
df.loc[df.Country=='Mexico'].Temp.corr(df.CO2) #KEEP

0.980264045830523

In [115]:
df.loc[df.Country=='US'].Temp.corr(df.CO2) #KEEP

0.7741723448058433

In [116]:
df.loc[df.Region=='Africa']

     Country  Region  Ratio      Temp       CO2
3    Algeria  Africa      1  0.007086  0.082311
4    Algeria  Africa      2 -0.015288  0.195032
5    Algeria  Africa      3  0.182203  0.352817
36     Benin  Africa      1  0.001525  0.474038
37     Benin  Africa      2 -0.001308  0.481297
..       ...     ...    ...       ...       ...
317   Uganda  Africa      2  0.003118  0.470056
318   Uganda  Africa      3  0.174377  0.443195
340   Zambia  Africa      1 -0.048587 -0.034836
341   Zambia  Africa      2 -0.082384  0.120721
342   Zambia  Africa      3  0.041679  0.408316

[75 rows x 5 columns]

In [117]:
df

     Country  Region  Ratio      Temp       CO2
0    Albania  Europe      1  0.341535  0.662891
1    Albania  Europe      2 -0.062946  0.109938
2    Albania  Europe      3  0.158044  0.288593
3    Algeria  Africa      1  0.007086  0.082311
4    Algeria  Africa      2 -0.015288  0.195032
..       ...     ...    ...       ...       ...
338  Vietnam    Asia      2  0.014710  0.396465
339  Vietnam    Asia      3  0.170367  0.444776
340   Zambia  Africa      1 -0.048587 -0.034836
341   Zambia  Africa      2 -0.082384  0.120721
342   Zambia  Africa      3  0.041679  0.408316

[343 rows x 5 columns]

In [100]:
df.loc[df.Country=='Australia'].corr()

      Country                   Region  Ratio    Temp     CO2
9   Australia  Australia/South Pacific      1   1.272  197.85
10  Australia  Australia/South Pacific      2   1.182  159.47
11  Australia  Australia/South Pacific      3  17.350  370.62

In [101]:
df.loc[df.Country=='Australia'].corr()

          Ratio      Temp       CO2
Ratio  1.000000  0.863598  0.768022
Temp   0.863598  1.000000  0.986152
CO2    0.768022  0.986152  1.000000

In [118]:
df.groupby('Country').Temp.corr(df.CO2).sort_values(ascending=False).head(50)

C:\Users\lilie\anaconda3\lib\site-packages\numpy\lib\function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\lilie\anaconda3\lib\site-packages\numpy\lib\function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

Country
Georgia            1.000000
Israel             1.000000
Burundi            1.000000
Indonesia          0.999999
Iceland            0.999994
Bangladesh         0.999991
Cyprus             0.999974
Gambia             0.999725
Ethiopia           0.999668
South Africa       0.999657
Philippines        0.999612
Cuba               0.999567
Brazil             0.999460
Kenya              0.999408
Malawi             0.999031
Thailand           0.998966
Gabon              0.998772
Lebanon            0.998201
Togo               0.997927
Belgium            0.997922
Greece             0.997680
Mozambique         0.997542
Turkmenistan       0.995759
The Netherlands    0.995750
Jordan             0.995709
Oman               0.994713
Peru               0.994294
Guyana             0.991119
Morocco            0.989829
Czech Republic     0.989543
Madagascar         0.987023
Nepal              0.986190
Haiti              0.986097
Mexico             0.980264
Nigeria            0.975817
Albania            0.967669
Colombia           0.965180
Switzerland        0.965026
Mauritania         0.964229
Tunisia            0.957541
Sierra Leone       0.957011
India              0.956711
Bulgaria           0.955207
Guinea             0.947281
Germany            0.943311
Laos               0.941409
Vietnam            0.940197
Saudi Arabia       0.939715
Japan              0.937445
Singapore          0.937107
Name: Temp, dtype: float64

In [119]:
df.describe()

            Ratio        Temp         CO2
count  343.000000  343.000000  343.000000
mean     1.994169    0.010109    0.100587
std      0.816476    0.400373    0.442519
min      1.000000   -3.709915   -4.195652
25%      1.000000   -0.001788    0.030016
50%      2.000000    0.016375    0.147940
75%      3.000000    0.161832    0.277152
max      3.000000    0.996324    0.854762

In [123]:
todrop=df.Country[df.Temp>0.3].unique()
todrop

array(['Albania', 'Gambia', 'Guinea-Bissau', 'Kenya', 'Kyrgyzstan',
       'Malawi', 'Mongolia', 'Oman', 'Sierra Leone'], dtype=object)

In [126]:
todrop2=df.Cou[df.Temp<-0.3].unique()
todrop2

array(['Asia', 'Africa', 'Europe', 'South/Central America & Carribean',
       'Middle East'], dtype=object)

In [91]:
ind = [df.index[df.Country==i] for i in list(todrop)]
ind

[Int64Index([21, 22, 23], dtype='int64'),
 Int64Index([39, 40, 41], dtype='int64'),
 Int64Index([51, 52], dtype='int64'),
 Int64Index([77, 78, 79], dtype='int64'),
 Int64Index([107, 108, 109], dtype='int64'),
 Int64Index([110, 111], dtype='int64'),
 Int64Index([115, 116, 117], dtype='int64'),
 Int64Index([125, 126, 127], dtype='int64'),
 Int64Index([152, 153], dtype='int64'),
 Int64Index([169, 170, 171], dtype='int64'),
 Int64Index([193, 194, 195], dtype='int64'),
 Int64Index([275, 276, 277], dtype='int64'),
 Int64Index([317, 318, 319], dtype='int64')]