In [141]:
import pandas as pd
import requests as r
from bs4 import BeautifulSoup
import numpy as np
import re
import os

pd.set_option('display.max_columns', None, 'display.max_rows', None)

In [142]:
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_natural_disasters_by_death_toll#Ten_deadliest_natural_disasters_since_1900_excluding_epidemics_and_famines")

In [143]:
# 10 Deadlist natural disasters
t0 = pd.DataFrame(tables[0])
t0['Year'] = t0['Date']
t0.rename(columns = {'Death toll (Highest estimate)':'Death toll (estimate)'}, inplace = True)

In [144]:
# Deadlist natural disasters since 1900
t1 = pd.DataFrame(tables[1])
t1['Year'] = t1['Date']
t1.rename(columns = {'Event*':'Event'}, inplace = True)

In [145]:
# Deadlist natural disasters by year 20th centery
t2 = pd.DataFrame(tables[2])
t2['Rank'] = np.nan
t2.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t2 = tables[2][['Rank','Death toll (estimate)', 'Event', 'Location', 'Type', 'Date', 'Year']]

In [146]:
# Deadlist natural disasters by year 21th centery
t3 = pd.DataFrame(tables[3])
t3['Rank'] = np.nan
t3.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t3 = t3[['Rank','Death toll (estimate)', 'Event', 'Location', 'Type', 'Date', 'Year']]
t3

,Rank,Death toll (estimate),Event,Location,Type,Date,Year
0,NaN,20085,2001 Gujarat earthquake,India,Earthquake,January 26,2001
1,NaN,1030,2002 Indian heat wave,India,Heat Wave,May,2002
2,NaN,70000,2003 European heat wave,"France, Portugal, United Kingdom, Netherlands,...",Heat Wave,July–August,2003
3,NaN,227898,2004 Indian Ocean earthquake and tsunami,"Indonesia, Sri Lanka, India, Thailand, Somalia","Earthquake, Tsunami",December 26,2004
4,NaN,87351,2005 Kashmir earthquake,"India, Pakistan",Earthquake,October 8,2005
5,NaN,5782,2006 Yogyakarta earthquake,Indonesia,Earthquake,May 26,2006
6,NaN,15000,Cyclone Sidr,"Bangladesh, India",Tropical cyclone,November 11–16,2007
7,NaN,138373,Cyclone Nargis,Myanmar,Tropical cyclone,April 27 – May 3,2008
8,NaN,1115,2009 Sumatra earthquake,Indonesia,Earthquake,September 30,2009
9,NaN,100000-316000,2010 Haiti earthquake,Haiti,Earthquake,January 12,2010
10,NaN,19749,2011 Tōhoku earthquake and tsunami,Japan,"Earthquake, Tsunami",March 11,2011
11,NaN,1901,Typhoon Bopha,Philippines,Tropical cyclone,December 4–5,2012
12,NaN,6340,Typhoon Haiyan,"Philippines, Vietnam, China",Tropical cyclone,November 3–4,2013
13,NaN,"2,665[11]",2014 Afghanistan floods,Afghanistan,Flood,April 24 – May 15,2014
14,NaN,8964,2015 Nepal earthquake,"Nepal, India",Earthquake,April 25,2015
15,NaN,676,2016 Ecuador earthquake,Ecuador,Earthquake,April 16,2016
16,NaN,3059,Hurricane Maria,"Puerto Rico, Dominica",Tropical cyclone,September 19–21,2017
17,NaN,4340,2018 Sulawesi earthquake and tsunami,Indonesia,"Earthquake, Tsunami",September 28,2018
18,NaN,"1,600+",2019 Indian floods,"India, Nepal",Flood,June–October,2019
19,NaN,"1,922[12]",2020 Indian floods,"India, Bangladesh",Flood,June–September,2020
20,NaN,229,Cyclone Seroja,"East Timor, Indonesia, Australia",Tropical cyclone,April 4,2021

In [147]:
# Ten deadliest earthquakes
t4 = pd.DataFrame(tables[4])
t4['Year'] = t4['Date']
t4['Type'] ='Earthquake'
t4

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,830000,1556 Shaanxi earthquake,Ming dynasty (now China),"January 23, 1556","January 23, 1556",Earthquake
1,2.0,"242,769–655,000[13]",1976 Tangshan earthquake,China,"July 28, 1976","July 28, 1976",Earthquake
2,3.0,"100,000−316,000",2010 Haiti earthquake,Haiti,"January 12, 2010","January 12, 2010",Earthquake
3,4.0,"273,400[9]",1920 Haiyuan earthquake,"Ningxia, Republic of China (now China)","December 16, 1920","December 16, 1920",Earthquake
4,5.0,"250,000–300,000[7]",526 Antioch earthquake,Byzantine Empire (now Turkey),May 526,May 526,Earthquake
5,6.0,"260,000[14]",115 Antioch earthquake,Roman Empire (now Turkey),"December 13, 115","December 13, 115",Earthquake
6,7.0,230000,1138 Aleppo earthquake,Zengid dynasty (now Syria),"October 11, 1138","October 11, 1138",Earthquake
7,8.0,227898,2004 Indian Ocean earthquake,Indonesia,"December 26, 2004","December 26, 2004",Earthquake
8,9.0,200000,1303 Hongdong earthquake[15],Mongol Empire (now China),"September 17, 1303","September 17, 1303",Earthquake
9,9.0,200000,856 Damghan earthquake,Abbasid Caliphate (now Iran),"December 22, 856","December 22, 856",Earthquake
10,9.0,200000,1780 Tabriz earthquake,Iran,"January 8, 1780","January 8, 1780",Earthquake

In [148]:
# 10 deadliest famines
t5 = pd.DataFrame(tables[5])
t5.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t5['Year'] = t5['Date']
t5 = t5[['Rank','Death toll (estimate)', 'Event', 'Location', 'Date', 'Year']]
t5['Type'] ='Famine'
t5

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,"15,000,000–55,000,000",Great Chinese Famine,China,1958–1961,1958–1961,Famine
1,2.0,"25,000,000[16]",Chinese famine of 1907,China,1907,1907,Famine
2,3.0,"9,000,000–13,000,000[17]",Northern Chinese Famine of 1876–1879,China,1876–1879,1876–1879,Famine
3,4.0,11000000,Chalisa famine,India,1783–1784,1783–1784,Famine
4,4.0,11000000,Doji bara famine or Skull famine,India,1789–1793,1789–1793,Famine
5,6.0,10000000,"Great Bengal famine of 1770, incl. Bihar & Orissa",British India,1769–1773,1769–1773,Famine
6,7.0,7500000,Great European Famine,Europe (all),1315–1317,1315–1317,Famine
7,8.0,7400000,Deccan famine of 1630–32,Mughal Empire now india,1630–1632,1630–1632,Famine
8,9.0,"5,000,000–8,000,000",Soviet famine of 1932–33,Soviet Union,1932–1933,1932–1933,Famine
9,10.0,5500000,Indian Great Famine of 1876–78,British India,1876–1878,1876–1878,Famine

In [149]:
# !! dont use as data is not sufficiant
# about Meteor impacts
tables[6]

,Rank,Death toll (unofficial),Location,Date,Notes
0,1.0,"10,000+","Qingyang, Gansu, China",1490,1490 Ch'ing-yang event
1,2.0,"""Tens""","Changshou District, Chongqing, China",1639,10 homes destroyed[18][19]
2,3.0,10+,China,616 CE,a large meteorite fell onto the rebel Lu Ming-...
3,4.0,2,"Malacca ship, Indian Ocean",1648,2 sailors killed on board a ship[19]
4,4.0,2,"Podkamennaya Tunguska River, Siberia, Russian ...",1908,Tunguska event[18]
5,6.0,1,"Cremona, Lombardy, Italy",1511,a monk and several animals were killed by ston...
6,6.0,1,"Milan, Lombardy, Italy",1633 or 1664,a monk died after being struck on the thigh by...
7,6.0,1,"Gascony, France",1790,a farmer was reportedly struck and killed by a...
8,6.0,1,"Oriang, Malwate, India",1825,[18][21]
9,6.0,1,"Chin-kuei Shan, China",1874,"a cottage was crushed by a meteorite, killing ..."
10,6.0,1,"Newtown, Indiana, United States *",1879,a man was killed in bed by a meteorite[18] *la...
11,6.0,1,"Dun-le-Poëlier, France",1879,a farmer was killed by a meteorite[18]
12,6.0,1,"Zvezvan, Yugoslavia",1929,a meteorite hit a bridal party[18]

In [150]:
# deadlist limnic eruptions
t7 = pd.DataFrame(tables[7])
t7.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t7['Year'] = t7['Date']
t7 = t7[['Rank','Death toll (estimate)', 'Event', 'Location', 'Date', 'Year']]
t7['Type'] ='Limnic Eruptions'

In [151]:
#Ten deadliest wildfires/bushfires
t8 = pd.DataFrame(tables[8])
t8.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t8['Year'] = t8['Date']
t8 = t8[['Rank','Death toll (estimate)', 'Event', 'Location', 'Date', 'Year']]
t8['Type'] ='Wildfires/Bushfires'
t8

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,"1,200–2,500",Peshtigo Fire,"Wisconsin, United States","October 8, 1871","October 8, 1871",Wildfires/Bushfires
1,2.0,1200,Kursha-2 Fire,Soviet Union,"August 3, 1936","August 3, 1936",Wildfires/Bushfires
2,3.0,453,Cloquet Fire[24],"Minnesota, United States","October 12, 1918","October 12, 1918",Wildfires/Bushfires
3,4.0,418+,Great Hinckley Fire,"Minnesota, United States","September 1, 1894","September 1, 1894",Wildfires/Bushfires
4,5.0,282,Thumb Fire,"Michigan, United States","September 5, 1881","September 5, 1881",Wildfires/Bushfires
5,6.0,240,1997 Indonesian forest fires[25][26],"Sumatra and Kalimantan, Indonesia",September 1997,September 1997,Wildfires/Bushfires
6,7.0,223,Matheson Fire,"Ontario, Canada","July 29, 1916","July 29, 1916",Wildfires/Bushfires
7,8.0,191,Black Dragon Fire[25][26],China and Soviet Union,"May 1, 1987","May 1, 1987",Wildfires/Bushfires
8,9.0,173,Black Saturday bushfires[25][26],Australia,"February 7, 2009","February 7, 2009",Wildfires/Bushfires
9,10.0,160–300,Miramichi Fire,Canada,"October 7, 1825","October 7, 1825",Wildfires/Bushfires

In [152]:
#Ten deadliest avalanches/landslides
t9 = pd.DataFrame(tables[9])
t9['Year'] = t9['Date']
t9['Type'] ='Avalanches/Landslides'
t9

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,100000,1786 Dadu River landslide dam; triggered by th...,China,1786,1786,Avalanches/Landslides
1,1.0,100000,1920 Haiyuan landslides; triggered by the 1920...,China,1920,1920,Avalanches/Landslides
2,3.0,22000,1970 Huascarán avalanche; triggered by the 197...,Peru,1970,1970,Avalanches/Landslides
3,4.0,"10,000–30,000",Vargas tragedy[29],Venezuela,1999,1999,Avalanches/Landslides
4,4.0,10000,White Friday avalanches[30][31],Italy,1916,1916,Avalanches/Landslides
5,6.0,"5,000–28,000",Khait landslide[32][33],Tajikistan,1949,1949,Avalanches/Landslides
6,7.0,"4,000–6,000",1941 Huaraz avalanche[34],Peru,1941,1941,Avalanches/Landslides
7,7.0,4000,1962 Huascarán avalanche[28],Peru,1962,1962,Avalanches/Landslides
8,9.0,3466,1310 Western Hubei landslide[27],China,1310,1310,Avalanches/Landslides
9,10.0,3429,1933 Diexi landslides[27],China,1933,1933,Avalanches/Landslides

In [153]:
#Ten deadliest blizzards
t10 = pd.DataFrame(tables[10])
t10['Year'] = t10['Date']
t10['Type'] ='Blizzard'
t10

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,4000,1972 Iran blizzard,Iran,1972,1972,Blizzard
1,2.0,3000,Carolean Death March,Norway,1719,1719,Blizzard
2,3.0,926,2008 Afghanistan blizzard,Afghanistan,2008,2008,Blizzard
3,4.0,400,Great Blizzard of 1888,United States,1888,1888,Blizzard
4,5.0,353,Great Appalachian Storm of 1950,United States,1950,1950,Blizzard
5,6.0,318,1993 Storm of the Century,United States,1993,1993,Blizzard
6,7.0,286,December 1960 nor'easter,United States,1960,1960,Blizzard
7,8.0,250,Great Lakes Storm of 1913,United States and Canada (Great Lakes region),1913,1913,Blizzard
8,9.0,235,Schoolhouse Blizzard,United States,1888,1888,Blizzard
9,10.0,201,North American blizzard of 1966,United States,1966,1966,Blizzard

In [154]:
#Ten deadliest floods
t11 = pd.DataFrame(tables[11])
t11.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t11['Year'] = t11['Date']
t11 = t11[['Rank','Death toll (estimate)', 'Event', 'Location', 'Date', 'Year']]
t11['Type'] ='Flood'
t11

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,"400,000–4,000,000[35]",1931 China floods,China,1931,1931,Flood
1,2.0,"900,000–2,000,000",1887 Yellow River (Huang He) flood,China,1887,1887,Flood
2,3.0,"230,000[36]",1975 Banqiao Dam failure,China,1975,1975,Flood
3,4.0,145000,1935 Yangtze flood,China,1935,1935,Flood
4,5.0,"100,000+","St. Felix's flood, storm surge",Holy Roman Empire,1530,1530,Flood
5,6.0,100000,Hanoi and Red River Delta flood,North Vietnam,1971,1971,Flood
6,7.0,"100,000[citation needed]",1911 Yangtze River flood,China,1911,1911,Flood
7,8.0,"100,000[37][38][39][40]",The flood of 1099,Netherlands & England,1099,1099,Flood
8,9.0,"50,000–80,000[38]","St. Lucia's flood, storm surge",Holy Roman Empire,1287,1287,Flood
9,10.0,60000,"North Sea flood, storm surge",Holy Roman Empire,1212,1212,Flood

In [155]:
# Ten deadliest heat waves
t12 = pd.DataFrame(tables[12])
t12.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t12['Year'] = t12['Date']
t12 = t12[['Rank','Death toll (estimate)', 'Event', 'Location', 'Date', 'Year']]
t12['Type'] ='Heat Wave'
t12

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,70000,2003 European heat wave,Europe,2003,2003,Heat Wave
1,2.0,56000,2010 Russian heat wave,Russia,2010,2010,Heat Wave
2,3.0,9500,1901 eastern United States heat wave,United States,1901,1901,Heat Wave
3,4.0,"5,000–10,000",1988 United States heat wave,United States,1988,1988,Heat Wave
4,5.0,3418,2006 European heat wave,Europe,2006[41],2006[41],Heat Wave
5,6.0,2541,1998 India heat wave,India,1998[41],1998[41],Heat Wave
6,7.0,2500,2015 Indian heat wave,India,2015,2015,Heat Wave
7,8.0,2000,2015 Pakistan heat wave,Pakistan,2015,2015,Heat Wave
8,9.0,"1,700–5,000",1980 United States heat wave,United States,1980,1980,Heat Wave
9,10.0,"1,718[42]",2010 Japanese heat wave,Japan,2010,2010,Heat Wave

In [156]:
# Ten deadliest Pandemics / Epidemics
t13 = pd.DataFrame(tables[13])
t13['Year'] = t13['Date']
t13['Type'] ='Pandemics / Epidemics'
t13

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,75–200 million[43],Black Death,"Europe, Asia and North Africa",1346–1353,1346–1353,Pandemics / Epidemics
1,2.0,50 million+ (17–100 million)[44][45],1918 flu pandemic,Worldwide,1918–1920,1918–1920,Pandemics / Epidemics
2,3.0,35 million+ (as of 2018)[46],HIV/AIDS pandemic,Worldwide,1981–present,1981–present,Pandemics / Epidemics
3,4.0,30–50 million[47][48][49],Plague of Justinian,Europe and West Asia,541–542,541–542,Pandemics / Epidemics
4,5.0,12 million+ (India and China)[50],Third plague pandemic,Worldwide,1855–1960,1855–1960,Pandemics / Epidemics
5,6.0,5–15 million[51][52][53][54],Cocoliztli Epidemic of 1545–1548,Mexico,1545–1548,1545–1548,Pandemics / Epidemics
6,7.0,5–10 million[55],Antonine Plague,Roman Empire,165–180 (possibly up to 190),165–180 (possibly up to 190),Pandemics / Epidemics
7,8.0,5–8 million[53],1520 Mexico smallpox epidemic,Mexico,1519–1520,1519–1520,Pandemics / Epidemics
8,9.0,3.4 million+ (reported)[56]– 7.2 million (esti...,COVID-19 pandemic,Worldwide,2020–present,2020–present,Pandemics / Epidemics
9,10.0,2.5 million[58],1918–1922 Russia typhus epidemic,Russia,1918–1922,1918–1922,Pandemics / Epidemics

In [157]:
#Ten deadliest tornadoes
t14 = pd.DataFrame(tables[14])
t14.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t14['Year'] = t14['Date']
t14 = t14[['Rank','Death toll (estimate)', 'Event', 'Location', 'Date', 'Year']]
t14['Type'] ='Tornadoes'
t14

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,1300,The Daulatpur–Saturia tornado,"Manikganj, Bangladesh",1989,1989,Tornadoes
1,2.0,695,The Tri-State Tornado,United States (Missouri–Illinois–Indiana),1925,1925,Tornadoes
2,3.0,681,1973 Dhaka tornado,Bangladesh,1973,1973,Tornadoes
3,4.0,660,1969 East Pakistan tornado,East Pakistan (now Bangladesh),1969,1969,Tornadoes
4,5.0,600,"The Valletta, Malta tornado",Malta,1551 or 1556,1551 or 1556,Tornadoes
5,6.0,500,The Sicily Tornadoes,"Sicily, Two Sicilies (now Italy)",1851,1851,Tornadoes
6,6.0,500,Narail-Magura tornado,"Jessore, East Pakistan, Pakistan (now Bangladesh)",1964,1964,Tornadoes
7,6.0,500,Madaripur-Shibchar tornado,Bangladesh,1977,1977,Tornadoes
8,9.0,400,The Ivanovo-Yaroslavl tornado,Soviet Union (now Russia),1984,1984,Tornadoes
9,10.0,317,The Great Natchez Tornado,United States (Mississippi–Louisiana),1840,1840,Tornadoes

In [158]:
# Ten deadliest Tropical Cyclones
t15 = pd.DataFrame(tables[15])
t15.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t15['Year'] = t15['Date']
t15 = t15[['Rank','Death toll (estimate)', 'Event', 'Location', 'Date', 'Year']]
t15['Type'] ='Tropical Cyclones'
t15

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,"500,000+",1970 Bhola cyclone,East Pakistan (now Bangladesh),"November 13, 1970","November 13, 1970",Tropical Cyclones
1,2.0,300000,1737 Calcutta cyclone[59][better source needed],India,"October 7, 1737","October 7, 1737",Tropical Cyclones
2,2.0,300000,1839 India Cyclone[8],India,"November 25, 1839","November 25, 1839",Tropical Cyclones
3,4.0,229000,Super Typhoon Nina—contributed to Banqiao Dam ...,China,"August 7, 1975","August 7, 1975",Tropical Cyclones
4,5.0,"200,000[60]",Great Backerganj Cyclone of 1876,British Raj (now Bangladesh),"October 30, 1876","October 30, 1876",Tropical Cyclones
5,6.0,"150,000 (30,000–300,000)[61]",1881 Haiphong typhoon,Vietnam,"October 8, 1881","October 8, 1881",Tropical Cyclones
6,7.0,138866,1991 Bangladesh cyclone,Bangladesh,"April 29, 1991","April 29, 1991",Tropical Cyclones
7,8.0,138373,Cyclone Nargis,Myanmar,"May 2, 2008","May 2, 2008",Tropical Cyclones
8,9.0,100000,July 1780 typhoon[62],Philippines,1780,1780,Tropical Cyclones
9,10.0,"10,000–50,000",1977 Andhra Pradesh cyclone,India,"November 14, 1977","November 14, 1977",Tropical Cyclones

In [159]:
#Ten deadliest tsunamis
t16 = pd.DataFrame(tables[16])
t16.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t16['Year'] = t16['Date']
t16 = t16[['Rank','Death toll (estimate)', 'Event', 'Location', 'Date', 'Year']]
t16['Type'] ='Tsunamis'
t16

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,227898,2004 Indian Ocean tsunami,Indian Ocean,"December 26, 2004","December 26, 2004",Tsunamis
1,2.0,"123,000[1]",1908 Messina earthquake,Italy,"December 28, 1908","December 28, 1908",Tsunamis
2,3.0,"36,417–120,000",1883 eruption of Krakatoa,Indonesia,"August 26, 1883","August 26, 1883",Tsunamis
3,4.0,"40,000–50,000[64]",1755 Lisbon earthquake,Portugal,"November 1, 1755","November 1, 1755",Tsunamis
4,5.0,"30,000–100,000",Minoan eruption,Greece,2nd Millennium BC,2nd Millennium BC,Tsunamis
5,6.0,31000,1498 Nankai earthquake,Japan,"September 20, 1498","September 20, 1498",Tsunamis
6,7.0,30000,1707 Hōei earthquake,Japan,"October 28, 1707","October 28, 1707",Tsunamis
7,8.0,"27,122[65]",1896 Sanriku earthquake,Japan,"June 15, 1896","June 15, 1896",Tsunamis
8,9.0,25674,1868 Arica earthquake,Chile,"August 13, 1868","August 13, 1868",Tsunamis
9,10.0,"5,700[66]–50,000[67]",365 Crete earthquake,Greece,"July 21, 365","July 21, 365",Tsunamis

In [160]:
#Ten deadliest volcanic eruptions
t17 = pd.DataFrame(tables[17])
t17.rename(columns = {'Death toll':'Death toll (estimate)'}, inplace = True)
t17['Year'] = t17['Date']
t17 = t17[['Rank','Death toll (estimate)', 'Event', 'Location', 'Date', 'Year']]
t17['Type'] ='Volcanic Eruptions'
t17

,Rank,Death toll (estimate),Event,Location,Date,Year,Type
0,1.0,"71,000+[68]",1815 eruption of Mount Tambora (see also Year ...,Indonesia,"April 10, 1815","April 10, 1815",Volcanic Eruptions
1,2.0,"36,000+[69]",1883 eruption of Krakatoa,Indonesia,"August 26, 1883","August 26, 1883",Volcanic Eruptions
2,3.0,"30,000[70]",1902 eruption of Mount Pelée,Martinique,"May 7, 1902","May 7, 1902",Volcanic Eruptions
3,4.0,"23,000[71]",Armero tragedy,Colombia,"November 13, 1985","November 13, 1985",Volcanic Eruptions
4,5.0,"15,000[72]",1792 Unzen earthquake and tsunami,Japan,"May 21, 1792","May 21, 1792",Volcanic Eruptions
5,6.0,"13,000[73]",Eruption of Mount Vesuvius in 79 AD,Italy,79,79,Volcanic Eruptions
6,7.0,"10,000+",1586 Kelud eruption,Indonesia,1586,1586,Volcanic Eruptions
7,8.0,"6,000[74]",1902 Santa Maria eruption,Guatemala,"October 24, 1902","October 24, 1902",Volcanic Eruptions
8,9.0,"5,000[75]",1919 Kelud mudflow,Indonesia,"May 19, 1919","May 19, 1919",Volcanic Eruptions
9,10.0,"4,011[76]",1822 Galunggung eruption,Indonesia,1822,1822,Volcanic Eruptions

In [161]:
dirty_df = pd.concat([t0, t1, t2, t3, t4, t5, t7, t8, t9, t10, t11, t12, t13, t14, t15, t16, t17], axis=0)

In [162]:
dirty_df.shape

(226, 7)

In [167]:
os.getcwd()

'C:\\Users\\Quoc\\Desktop\\[ironhack]\\[IronHack]\\github\\Statistically_Significant_Insights\\data'

In [168]:
dirty_df.to_csv('.\org_global_disasters.csv', index=False)

In [766]:
df = dirty_df.copy()

In [767]:
df.reset_index(inplace = True)

In [768]:
x = df['Death toll (estimate)'].str.split('[',expand=True)

In [769]:
df['Death toll (estimate)2'] = x[0]

In [770]:
df.loc[:, ['Death toll (estimate)', 'Death toll (estimate)2', 'Event', 'Location', 'Date', 'Year', 'Rank', 'Type']]

,Death toll (estimate),Death toll (estimate)2,Event,Location,Date,Year,Rank,Type
0,"4,000,000[1][nb 1]","4,000,000",1931 China floods,China,July 1931,July 1931,NaN,NaN
1,"2,000,000[2][3][4]","2,000,000",1887 Yellow River flood,China,September 1887,September 1887,NaN,NaN
2,"830,000[5]","830,000",1556 Shaanxi earthquake,China,"January 23, 1556","January 23, 1556",NaN,NaN
3,655000,655000,1976 Tangshan earthquake,China,"July 28, 1976","July 28, 1976",NaN,NaN
4,"500,000+[1]","500,000+",1970 Bhola cyclone,East Pakistan (now Bangladesh),"November 13, 1970","November 13, 1970",NaN,NaN
5,"316,000[6]","316,000",2010 Haiti earthquake,Haiti,"January 12, 2010","January 12, 2010",NaN,NaN
6,"300,000+[7]","300,000+",526 Antioch earthquake,Byzantine Empire (now Turkey),May 526,May 526,NaN,NaN
7,"≈300,000[8]","≈300,000",1839 India Cyclone,"Andhra Pradesh, India","November 25, 1839","November 25, 1839",NaN,NaN
8,"273,400[9]","273,400",1920 Haiyuan earthquake,China,"December 16, 1920","December 16, 1920",NaN,NaN
9,229000,229000,Typhoon Nina,China,"August 7, 1975","August 7, 1975",NaN,NaN
10,"1,000,000–4,000,000[1][nb 2]","1,000,000–4,000,000",1931 China floods,China,July 1931,July 1931,NaN,NaN
11,"242,000–655,000","242,000–655,000",1976 Tangshan earthquake,NaN,"July 28, 1976","July 28, 1976",NaN,NaN
12,"500,000+[1]","500,000+",1970 Bhola cyclone,East Pakistan (now Bangladesh),November 1970,November 1970,NaN,NaN
13,"100,000-316,000[10]","100,000-316,000",2010 Haiti earthquake,NaN,"January 12, 2010","January 12, 2010",NaN,NaN
14,273400,273400,1920 Haiyuan earthquake,China,"December 16, 1920","December 16, 1920",NaN,NaN
15,229000,229000,Typhoon Nina—also contributed to Banqiao Dam f...,China,"August 7, 1975","August 7, 1975",NaN,NaN
16,227898,227898,2004 Indian Ocean earthquake and tsunami,Indian Ocean,"December 26, 2004","December 26, 2004",NaN,NaN
17,145000,145000,1935 Yangtze flood,China,1935,1935,NaN,NaN
18,143000,143000,1923 Great Kantō earthquake,Japan,"September 1, 1923","September 1, 1923",NaN,NaN
19,138866,138866,1991 Bangladesh cyclone,Bangladesh,"April 29, 1991","April 29, 1991",NaN,NaN
20,"32,700–32,968","32,700–32,968",1939 Erzincan earthquake,Turkey,December 27,1939,NaN,Earthquake
21,1000,1000,1940 Vrancea earthquake,Romania,November 10,1940,NaN,Earthquake
22,1200,1200,1941 Jizan earthquake,Saudi Arabia,January 11,1941,NaN,Earthquake
23,61000,61000,1942 West Bengal cyclone,"West Bengal, India",October 14–18,1942,NaN,Tropical cyclone
24,4020,4020,1943 Tosya–Ladik earthquake,Turkey,November 27,1943,NaN,Earthquake
25,10000,10000,1944 San Juan earthquake,Argentina,January 15,1944,NaN,Earthquake
26,4000,4000,1945 Balochistan earthquake,India,November 28,1945,NaN,Earthquake
27,2550,2550,1946 Dominican Republic earthquake,Dominican Republic,August 4,1946,NaN,Earthquake
28,1077,1077,Typhoon Kathleen,Japan,September 15,1947,NaN,Tropical cyclone
29,"10,000–110,000","10,000–110,000",1948 Ashgabat earthquake,"Russia, Iran",October 6,1948,NaN,Earthquake
30,40000,40000,1949 Eastern Guatemalan floods,Guatemala,September 28 – October 14,1949,NaN,Flood
31,2910,2910,1950 Pakistan flood,Pakistan,NaN,1950,NaN,Flood
32,4800,4800,1951 Manchuria flood,China,September 18,1951,NaN,Flood
33,2336,2336,1952 Severo-Kurilsk earthquake,Russia,November 4,1952,NaN,Earthquake
34,2566,2566,1953 Japan floods,Japan,July,1953,NaN,Flood
35,33000,33000,1954 Yangtze floods,China,June–September,1954,NaN,Flood
36,"1,023+","1,023+",Hurricane Janet,"Lesser Antilles, Mexico",September 22–30,1955,NaN,Tropical cyclone
37,4935,4935,Typhoon Wanda (1956),China,August 1,1956,NaN,Tropical cyclone
38,1200,1200,1957 Hamadan Province earthquake,Iran,December 13,1957,NaN,Earthquake
39,1269,1269,Typhoon Ida (1958),Japan,September 26,1958,NaN,Tropical cyclone
40,"5,000+","5,000+",Typhoon Vera,Japan,September 26,1959,NaN,Tropical cyclone
41,14174,14174,Severe Cyclonic Storm Ten,East Pakistan,October 31,1960,NaN,Tropical cyclone
42,11468,11468,Cyclone Winnie,East Pakistan,May 6–9,1961,NaN,Tropical cyclone
43,12225,12225,1962 Buin Zahra earthquake,Iran,September 1,1962,NaN,Earthquake
44,22000,22000,May 1963 East Pakistan II cyclone,East Pakistan,May 28,1963,NaN,Tropical cyclone
45,7000,7000,Tropical Storm Joan (1964),Vietnam,November 4–11,1964,NaN,Tropical cyclone
46,47000,47000,1965 Bengal cyclones,East Pakistan,May 11–12 and June 1–2,1965,NaN,Tropical cyclone
47,"2,394–3,000","2,394–3,000",1966 Varto earthquake,Turkey,August 19,1966,NaN,Earthquake
48,10000,10000,1967 Paradip cyclone,India,October 26–30,1967,NaN,Tropical cyclone
49,15000,15000,1968 Dasht-e Bayaz and Ferdows earthquakes,Iran,August 31,1968,NaN,Earthquake
50,3000,3000,1969 Yangjiang earthquake,China,July 26,1969,NaN,Earthquake
51,"500,000+","500,000+",1970 Bhola cyclone,"India, East Pakistan",November 3,1970,NaN,Tropical cyclone
52,100000,100000,Hanoi and Red River Delta flood,North Vietnam,August 1,1971,NaN,Flood
53,5374,5374,1972 Qir earthquake,Iran,April 10,1972,NaN,Earthquake
54,1653,1653,1973 Flores cyclone,Indonesia,April 26–30,1973,NaN,Tropical cyclone
55,"8,210+","8,210+",Hurricane Fifi–Orlene,"Honduras, Nicaragua, El Salvador, Guatemala, B...",September 18–20,1974,NaN,Tropical cyclone
56,229000,229000,Typhoon Nina (1975),China,August 7,1975,NaN,Tropical cyclone
57,"242,769–655,000","242,769–655,000",1976 Tangshan earthquake,China,July 28,1976,NaN,Earthquake
58,"10,000–50,000","10,000–50,000",1977 Andhra Pradesh cyclone,India,November 19,1977,NaN,Tropical cyclone
59,"15,000–25,000","15,000–25,000",1978 Tabas earthquake,Iran,September 16,1978,NaN,Earthquake
60,2069,2069,Hurricane David,"Dominican Republic, Dominica",August 15 – September 8,1979,NaN,Tropical cyclone
61,5000,5000,1980 El Asnam earthquake,Algeria,October 10,1980,NaN,Earthquake
62,3000,3000,1981 Golbaf earthquake,Iran,June 11,1981,NaN,Earthquake
63,2800,2800,1982 North Yemen earthquake,Yemen,December 13,1982,NaN,Earthquake
64,1342,1342,1983 Erzurum earthquake,Turkey,October 30,1983,NaN,Earthquake
65,1474,1474,Typhoon Ike,Philippines,August 26 – September 6,1984,NaN,Tropical cyclone
66,23000,23000,Armero tragedy,Colombia,November 14,1985,NaN,Volcanic eruption
67,1746,1746,Lake Nyos disaster,Cameroon,August 21,1986,NaN,Limnic eruption
68,5000,5000,1987 Ecuador earthquakes,Ecuador,March 6,1987,NaN,Earthquake
69,25000,25000,1988 Armenian earthquake,Armenia,December 7,1988,NaN,Earthquake
70,3814,3814,1989 Sichuan flood,China,July 27,1989,NaN,Flood
71,50000,50000,1990 Manjil–Rudbar earthquake,Iran,June 21,1990,NaN,Earthquake
72,138866,138866,1991 Bangladesh cyclone,Bangladesh,April 24–30,1991,NaN,Tropical cyclone
73,2500,2500,1992 Flores earthquake and tsunami,Indonesia,December 12,1992,NaN,"Earthquake, Tsunami"
74,9748,9748,1993 Latur earthquake,India,September 9,1993,NaN,Earthquake
75,1100,1100,1994 Paez river earthquake,Colombia,June 6,1994,NaN,Earthquake
76,6434,6434,Great Hanshin earthquake,Japan,January 17,1995,NaN,Earthquake
77,1077,1077,1996 Andhra Pradesh cyclone,India,November 4–7,1996,NaN,Tropical cyclone
78,3123,3123,Tropical Storm Linda (1997),"Vietnam, Thailand",November 1–9,1997,NaN,"Tropical cyclone, Flood"
79,11374,11374,Hurricane Mitch,"Honduras, Nicaragua, El Salvador, Guatemala, B...",October 22 – November 9,1998,NaN,Tropical cyclone
80,17127,17127,1999 Izmit earthquake,Turkey,August 17,1999,NaN,Earthquake
81,800,800,2000 Mozambique flood,Mozambique,February–March,2000,NaN,Flood
82,20085,20085,2001 Gujarat earthquake,India,January 26,2001,NaN,Earthquake
83,1030,1030,2002 Indian heat wave,India,May,2002,NaN,Heat Wave
84,70000,70000,2003 European heat wave,"France, Portugal, United Kingdom, Netherlands,...",July–August,2003,NaN,Heat Wave
85,227898,227898,2004 Indian Ocean earthquake and tsunami,"Indonesia, Sri Lanka, India, Thailand, Somalia",December 26,2004,NaN,"Earthquake, Tsunami"
86,87351,87351,2005 Kashmir earthquake,"India, Pakistan",October 8,2005,NaN,Earthquake
87,5782,5782,2006 Yogyakarta earthquake,Indonesia,May 26,2006,NaN,Earthquake
88,15000,15000,Cyclone Sidr,"Bangladesh, India",November 11–16,2007,NaN,Tropical cyclone
89,138373,138373,Cyclone Nargis,Myanmar,April 27 – May 3,2008,NaN,Tropical cyclone
90,1115,1115,2009 Sumatra earthquake,Indonesia,September 30,2009,NaN,Earthquake
91,100000-316000,100000-316000,2010 Haiti earthquake,Haiti,January 12,2010,NaN,Earthquake
92,19749,19749,2011 Tōhoku earthquake and tsunami,Japan,March 11,2011,NaN,"Earthquake, Tsunami"
93,1901,1901,Typhoon Bopha,Philippines,December 4–5,2012,NaN,Tropical cyclone
94,6340,6340,Typhoon Haiyan,"Philippines, Vietnam, China",November 3–4,2013,NaN,Tropical cyclone
95,"2,665[11]","2,665",2014 Afghanistan floods,Afghanistan,April 24 – May 15,2014,NaN,Flood
96,8964,8964,2015 Nepal earthquake,"Nepal, India",April 25,2015,NaN,Earthquake
97,676,676,2016 Ecuador earthquake,Ecuador,April 16,2016,NaN,Earthquake
98,3059,3059,Hurricane Maria,"Puerto Rico, Dominica",September 19–21,2017,NaN,Tropical cyclone
99,4340,4340,2018 Sulawesi earthquake and tsunami,Indonesia,September 28,2018,NaN,"Earthquake, Tsunami"
100,"1,600+","1,600+",2019 Indian floods,"India, Nepal",June–October,2019,NaN,Flood
101,"1,922[12]","1,922",2020 Indian floods,"India, Bangladesh",June–September,2020,NaN,Flood
102,229,229,Cyclone Seroja,"East Timor, Indonesia, Australia",April 4,2021,NaN,Tropical cyclone
103,830000,830000,1556 Shaanxi earthquake,Ming dynasty (now China),"January 23, 1556","January 23, 1556",1.0,Earthquake
104,"242,769–655,000[13]","242,769–655,000",1976 Tangshan earthquake,China,"July 28, 1976","July 28, 1976",2.0,Earthquake
105,"100,000−316,000","100,000−316,000",2010 Haiti earthquake,Haiti,"January 12, 2010","January 12, 2010",3.0,Earthquake
106,"273,400[9]","273,400",1920 Haiyuan earthquake,"Ningxia, Republic of China (now China)","December 16, 1920","December 16, 1920",4.0,Earthquake
107,"250,000–300,000[7]","250,000–300,000",526 Antioch earthquake,Byzantine Empire (now Turkey),May 526,May 526,5.0,Earthquake
108,"260,000[14]","260,000",115 Antioch earthquake,Roman Empire (now Turkey),"December 13, 115","December 13, 115",6.0,Earthquake
109,230000,230000,1138 Aleppo earthquake,Zengid dynasty (now Syria),"October 11, 1138","October 11, 1138",7.0,Earthquake
110,227898,227898,2004 Indian Ocean earthquake,Indonesia,"December 26, 2004","December 26, 2004",8.0,Earthquake
111,200000,200000,1303 Hongdong earthquake[15],Mongol Empire (now China),"September 17, 1303","September 17, 1303",9.0,Earthquake
112,200000,200000,856 Damghan earthquake,Abbasid Caliphate (now Iran),"December 22, 856","December 22, 856",9.0,Earthquake
113,200000,200000,1780 Tabriz earthquake,Iran,"January 8, 1780","January 8, 1780",9.0,Earthquake
114,"15,000,000–55,000,000","15,000,000–55,000,000",Great Chinese Famine,China,1958–1961,1958–1961,1.0,Famine
115,"25,000,000[16]","25,000,000",Chinese famine of 1907,China,1907,1907,2.0,Famine
116,"9,000,000–13,000,000[17]","9,000,000–13,000,000",Northern Chinese Famine of 1876–1879,China,1876–1879,1876–1879,3.0,Famine
117,11000000,11000000,Chalisa famine,India,1783–1784,1783–1784,4.0,Famine
118,11000000,11000000,Doji bara famine or Skull famine,India,1789–1793,1789–1793,4.0,Famine
119,10000000,10000000,"Great Bengal famine of 1770, incl. Bihar & Orissa",British India,1769–1773,1769–1773,6.0,Famine
120,7500000,7500000,Great European Famine,Europe (all),1315–1317,1315–1317,7.0,Famine
121,7400000,7400000,Deccan famine of 1630–32,Mughal Empire now india,1630–1632,1630–1632,8.0,Famine
122,"5,000,000–8,000,000","5,000,000–8,000,000",Soviet famine of 1932–33,Soviet Union,1932–1933,1932–1933,9.0,Famine
123,5500000,5500000,Indian Great Famine of 1876–78,British India,1876–1878,1876–1878,10.0,Famine
124,1744,NaN,Lake Nyos disaster,Cameroon,"August 21, 1986","August 21, 1986",1.0,Limnic Eruptions
125,37,NaN,Lake Monoun disaster,Cameroon,"August 15, 1984","August 15, 1984",2.0,Limnic Eruptions
126,"1,200–2,500","1,200–2,500",Peshtigo Fire,"Wisconsin, United States","October 8, 1871","October 8, 1871",1.0,Wildfires/Bushfires
127,1200,1200,Kursha-2 Fire,Soviet Union,"August 3, 1936","August 3, 1936",2.0,Wildfires/Bushfires
128,453,453,Cloquet Fire[24],"Minnesota, United States","October 12, 1918","October 12, 1918",3.0,Wildfires/Bushfires
129,418+,418+,Great Hinckley Fire,"Minnesota, United States","September 1, 1894","September 1, 1894",4.0,Wildfires/Bushfires
130,282,282,Thumb Fire,"Michigan, United States","September 5, 1881","September 5, 1881",5.0,Wildfires/Bushfires
131,240,240,1997 Indonesian forest fires[25][26],"Sumatra and Kalimantan, Indonesia",September 1997,September 1997,6.0,Wildfires/Bushfires
132,223,223,Matheson Fire,"Ontario, Canada","July 29, 1916","July 29, 1916",7.0,Wildfires/Bushfires
133,191,191,Black Dragon Fire[25][26],China and Soviet Union,"May 1, 1987","May 1, 1987",8.0,Wildfires/Bushfires
134,173,173,Black Saturday bushfires[25][26],Australia,"February 7, 2009","February 7, 2009",9.0,Wildfires/Bushfires
135,160–300,160–300,Miramichi Fire,Canada,"October 7, 1825","October 7, 1825",10.0,Wildfires/Bushfires
136,100000,100000,1786 Dadu River landslide dam; triggered by th...,China,1786,1786,1.0,Avalanches/Landslides
137,100000,100000,1920 Haiyuan landslides; triggered by the 1920...,China,1920,1920,1.0,Avalanches/Landslides
138,22000,22000,1970 Huascarán avalanche; triggered by the 197...,Peru,1970,1970,3.0,Avalanches/Landslides
139,"10,000–30,000","10,000–30,000",Vargas tragedy[29],Venezuela,1999,1999,4.0,Avalanches/Landslides
140,10000,10000,White Friday avalanches[30][31],Italy,1916,1916,4.0,Avalanches/Landslides
141,"5,000–28,000","5,000–28,000",Khait landslide[32][33],Tajikistan,1949,1949,6.0,Avalanches/Landslides
142,"4,000–6,000","4,000–6,000",1941 Huaraz avalanche[34],Peru,1941,1941,7.0,Avalanches/Landslides
143,4000,4000,1962 Huascarán avalanche[28],Peru,1962,1962,7.0,Avalanches/Landslides
144,3466,3466,1310 Western Hubei landslide[27],China,1310,1310,9.0,Avalanches/Landslides
145,3429,3429,1933 Diexi landslides[27],China,1933,1933,10.0,Avalanches/Landslides
146,4000,NaN,1972 Iran blizzard,Iran,1972,1972,1.0,Blizzard
147,3000,NaN,Carolean Death March,Norway,1719,1719,2.0,Blizzard
148,926,NaN,2008 Afghanistan blizzard,Afghanistan,2008,2008,3.0,Blizzard
149,400,NaN,Great Blizzard of 1888,United States,1888,1888,4.0,Blizzard
150,353,NaN,Great Appalachian Storm of 1950,United States,1950,1950,5.0,Blizzard
151,318,NaN,1993 Storm of the Century,United States,1993,1993,6.0,Blizzard
152,286,NaN,December 1960 nor'easter,United States,1960,1960,7.0,Blizzard
153,250,NaN,Great Lakes Storm of 1913,United States and Canada (Great Lakes region),1913,1913,8.0,Blizzard
154,235,NaN,Schoolhouse Blizzard,United States,1888,1888,9.0,Blizzard
155,201,NaN,North American blizzard of 1966,United States,1966,1966,10.0,Blizzard
156,"400,000–4,000,000[35]","400,000–4,000,000",1931 China floods,China,1931,1931,1.0,Flood
157,"900,000–2,000,000","900,000–2,000,000",1887 Yellow River (Huang He) flood,China,1887,1887,2.0,Flood
158,"230,000[36]","230,000",1975 Banqiao Dam failure,China,1975,1975,3.0,Flood
159,145000,145000,1935 Yangtze flood,China,1935,1935,4.0,Flood
160,"100,000+","100,000+","St. Felix's flood, storm surge",Holy Roman Empire,1530,1530,5.0,Flood
161,100000,100000,Hanoi and Red River Delta flood,North Vietnam,1971,1971,6.0,Flood
162,"100,000[citation needed]","100,000",1911 Yangtze River flood,China,1911,1911,7.0,Flood
163,"100,000[37][38][39][40]","100,000",The flood of 1099,Netherlands & England,1099,1099,8.0,Flood
164,"50,000–80,000[38]","50,000–80,000","St. Lucia's flood, storm surge",Holy Roman Empire,1287,1287,9.0,Flood
165,60000,60000,"North Sea flood, storm surge",Holy Roman Empire,1212,1212,10.0,Flood
166,70000,70000,2003 European heat wave,Europe,2003,2003,1.0,Heat Wave
167,56000,56000,2010 Russian heat wave,Russia,2010,2010,2.0,Heat Wave
168,9500,9500,1901 eastern United States heat wave,United States,1901,1901,3.0,Heat Wave
169,"5,000–10,000","5,000–10,000",1988 United States heat wave,United States,1988,1988,4.0,Heat Wave
170,3418,3418,2006 European heat wave,Europe,2006[41],2006[41],5.0,Heat Wave
171,2541,2541,1998 India heat wave,India,1998[41],1998[41],6.0,Heat Wave
172,2500,2500,2015 Indian heat wave,India,2015,2015,7.0,Heat Wave
173,2000,2000,2015 Pakistan heat wave,Pakistan,2015,2015,8.0,Heat Wave
174,"1,700–5,000","1,700–5,000",1980 United States heat wave,United States,1980,1980,9.0,Heat Wave
175,"1,718[42]","1,718",2010 Japanese heat wave,Japan,2010,2010,10.0,Heat Wave
176,75–200 million[43],75–200 million,Black Death,"Europe, Asia and North Africa",1346–1353,1346–1353,1.0,Pandemics / Epidemics
177,50 million+ (17–100 million)[44][45],50 million+ (17–100 million),1918 flu pandemic,Worldwide,1918–1920,1918–1920,2.0,Pandemics / Epidemics
178,35 million+ (as of 2018)[46],35 million+ (as of 2018),HIV/AIDS pandemic,Worldwide,1981–present,1981–present,3.0,Pandemics / Epidemics
179,30–50 million[47][48][49],30–50 million,Plague of Justinian,Europe and West Asia,541–542,541–542,4.0,Pandemics / Epidemics
180,12 million+ (India and China)[50],12 million+ (India and China),Third plague pandemic,Worldwide,1855–1960,1855–1960,5.0,Pandemics / Epidemics
181,5–15 million[51][52][53][54],5–15 million,Cocoliztli Epidemic of 1545–1548,Mexico,1545–1548,1545–1548,6.0,Pandemics / Epidemics
182,5–10 million[55],5–10 million,Antonine Plague,Roman Empire,165–180 (possibly up to 190),165–180 (possibly up to 190),7.0,Pandemics / Epidemics
183,5–8 million[53],5–8 million,1520 Mexico smallpox epidemic,Mexico,1519–1520,1519–1520,8.0,Pandemics / Epidemics
184,3.4 million+ (reported)[56]– 7.2 million (esti...,3.4 million+ (reported),COVID-19 pandemic,Worldwide,2020–present,2020–present,9.0,Pandemics / Epidemics
185,2.5 million[58],2.5 million,1918–1922 Russia typhus epidemic,Russia,1918–1922,1918–1922,10.0,Pandemics / Epidemics
186,1300,NaN,The Daulatpur–Saturia tornado,"Manikganj, Bangladesh",1989,1989,1.0,Tornadoes
187,695,NaN,The Tri-State Tornado,United States (Missouri–Illinois–Indiana),1925,1925,2.0,Tornadoes
188,681,NaN,1973 Dhaka tornado,Bangladesh,1973,1973,3.0,Tornadoes
189,660,NaN,1969 East Pakistan tornado,East Pakistan (now Bangladesh),1969,1969,4.0,Tornadoes
190,600,NaN,"The Valletta, Malta tornado",Malta,1551 or 1556,1551 or 1556,5.0,Tornadoes
191,500,NaN,The Sicily Tornadoes,"Sicily, Two Sicilies (now Italy)",1851,1851,6.0,Tornadoes
192,500,NaN,Narail-Magura tornado,"Jessore, East Pakistan, Pakistan (now Bangladesh)",1964,1964,6.0,Tornadoes
193,500,NaN,Madaripur-Shibchar tornado,Bangladesh,1977,1977,6.0,Tornadoes
194,400,NaN,The Ivanovo-Yaroslavl tornado,Soviet Union (now Russia),1984,1984,9.0,Tornadoes
195,317,NaN,The Great Natchez Tornado,United States (Mississippi–Louisiana),1840,1840,10.0,Tornadoes
196,"500,000+","500,000+",1970 Bhola cyclone,East Pakistan (now Bangladesh),"November 13, 1970","November 13, 1970",1.0,Tropical Cyclones
197,300000,300000,1737 Calcutta cyclone[59][better source needed],India,"October 7, 1737","October 7, 1737",2.0,Tropical Cyclones
198,300000,300000,1839 India Cyclone[8],India,"November 25, 1839","November 25, 1839",2.0,Tropical Cyclones
199,229000,229000,Super Typhoon Nina—contributed to Banqiao Dam ...,China,"August 7, 1975","August 7, 1975",4.0,Tropical Cyclones
200,"200,000[60]","200,000",Great Backerganj Cyclone of 1876,British Raj (now Bangladesh),"October 30, 1876","October 30, 1876",5.0,Tropical Cyclones
201,"150,000 (30,000–300,000)[61]","150,000 (30,000–300,000)",1881 Haiphong typhoon,Vietnam,"October 8, 1881","October 8, 1881",6.0,Tropical Cyclones
202,138866,138866,1991 Bangladesh cyclone,Bangladesh,"April 29, 1991","April 29, 1991",7.0,Tropical Cyclones
203,138373,138373,Cyclone Nargis,Myanmar,"May 2, 2008","May 2, 2008",8.0,Tropical Cyclones
204,100000,100000,July 1780 typhoon[62],Philippines,1780,1780,9.0,Tropical Cyclones
205,"10,000–50,000","10,000–50,000",1977 Andhra Pradesh cyclone,India,"November 14, 1977","November 14, 1977",10.0,Tropical Cyclones

In [771]:
df['Death toll (estimate)2'].fillna(df['Death toll (estimate)'], inplace =True)

In [772]:
df = df.loc[:, ['Death toll (estimate)','Death toll (estimate)2', 'Event', 'Location', 'Date', 'Year', 'Rank', 'Type']]

In [773]:
df['Death toll (estimate)2']= df['Death toll (estimate)2'].str.replace('+', '').str.replace('+', '').str.replace('≈', '').str.replace(',', '')

<ipython-input-773-370b01b45e04>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Death toll (estimate)2']= df['Death toll (estimate)2'].str.replace('+', '').str.replace('+', '').str.replace('≈', '').str.replace(',', '')

In [774]:
df

,Death toll (estimate),Death toll (estimate)2,Event,Location,Date,Year,Rank,Type
0,"4,000,000[1][nb 1]",4000000,1931 China floods,China,July 1931,July 1931,NaN,NaN
1,"2,000,000[2][3][4]",2000000,1887 Yellow River flood,China,September 1887,September 1887,NaN,NaN
2,"830,000[5]",830000,1556 Shaanxi earthquake,China,"January 23, 1556","January 23, 1556",NaN,NaN
3,655000,655000,1976 Tangshan earthquake,China,"July 28, 1976","July 28, 1976",NaN,NaN
4,"500,000+[1]",500000,1970 Bhola cyclone,East Pakistan (now Bangladesh),"November 13, 1970","November 13, 1970",NaN,NaN
5,"316,000[6]",316000,2010 Haiti earthquake,Haiti,"January 12, 2010","January 12, 2010",NaN,NaN
6,"300,000+[7]",300000,526 Antioch earthquake,Byzantine Empire (now Turkey),May 526,May 526,NaN,NaN
7,"≈300,000[8]",300000,1839 India Cyclone,"Andhra Pradesh, India","November 25, 1839","November 25, 1839",NaN,NaN
8,"273,400[9]",273400,1920 Haiyuan earthquake,China,"December 16, 1920","December 16, 1920",NaN,NaN
9,229000,229000,Typhoon Nina,China,"August 7, 1975","August 7, 1975",NaN,NaN
10,"1,000,000–4,000,000[1][nb 2]",1000000–4000000,1931 China floods,China,July 1931,July 1931,NaN,NaN
11,"242,000–655,000",242000–655000,1976 Tangshan earthquake,NaN,"July 28, 1976","July 28, 1976",NaN,NaN
12,"500,000+[1]",500000,1970 Bhola cyclone,East Pakistan (now Bangladesh),November 1970,November 1970,NaN,NaN
13,"100,000-316,000[10]",100000-316000,2010 Haiti earthquake,NaN,"January 12, 2010","January 12, 2010",NaN,NaN
14,273400,273400,1920 Haiyuan earthquake,China,"December 16, 1920","December 16, 1920",NaN,NaN
15,229000,229000,Typhoon Nina—also contributed to Banqiao Dam f...,China,"August 7, 1975","August 7, 1975",NaN,NaN
16,227898,227898,2004 Indian Ocean earthquake and tsunami,Indian Ocean,"December 26, 2004","December 26, 2004",NaN,NaN
17,145000,145000,1935 Yangtze flood,China,1935,1935,NaN,NaN
18,143000,143000,1923 Great Kantō earthquake,Japan,"September 1, 1923","September 1, 1923",NaN,NaN
19,138866,138866,1991 Bangladesh cyclone,Bangladesh,"April 29, 1991","April 29, 1991",NaN,NaN
20,"32,700–32,968",32700–32968,1939 Erzincan earthquake,Turkey,December 27,1939,NaN,Earthquake
21,1000,1000,1940 Vrancea earthquake,Romania,November 10,1940,NaN,Earthquake
22,1200,1200,1941 Jizan earthquake,Saudi Arabia,January 11,1941,NaN,Earthquake
23,61000,61000,1942 West Bengal cyclone,"West Bengal, India",October 14–18,1942,NaN,Tropical cyclone
24,4020,4020,1943 Tosya–Ladik earthquake,Turkey,November 27,1943,NaN,Earthquake
25,10000,10000,1944 San Juan earthquake,Argentina,January 15,1944,NaN,Earthquake
26,4000,4000,1945 Balochistan earthquake,India,November 28,1945,NaN,Earthquake
27,2550,2550,1946 Dominican Republic earthquake,Dominican Republic,August 4,1946,NaN,Earthquake
28,1077,1077,Typhoon Kathleen,Japan,September 15,1947,NaN,Tropical cyclone
29,"10,000–110,000",10000–110000,1948 Ashgabat earthquake,"Russia, Iran",October 6,1948,NaN,Earthquake
30,40000,40000,1949 Eastern Guatemalan floods,Guatemala,September 28 – October 14,1949,NaN,Flood
31,2910,2910,1950 Pakistan flood,Pakistan,NaN,1950,NaN,Flood
32,4800,4800,1951 Manchuria flood,China,September 18,1951,NaN,Flood
33,2336,2336,1952 Severo-Kurilsk earthquake,Russia,November 4,1952,NaN,Earthquake
34,2566,2566,1953 Japan floods,Japan,July,1953,NaN,Flood
35,33000,33000,1954 Yangtze floods,China,June–September,1954,NaN,Flood
36,"1,023+",1023,Hurricane Janet,"Lesser Antilles, Mexico",September 22–30,1955,NaN,Tropical cyclone
37,4935,4935,Typhoon Wanda (1956),China,August 1,1956,NaN,Tropical cyclone
38,1200,1200,1957 Hamadan Province earthquake,Iran,December 13,1957,NaN,Earthquake
39,1269,1269,Typhoon Ida (1958),Japan,September 26,1958,NaN,Tropical cyclone
40,"5,000+",5000,Typhoon Vera,Japan,September 26,1959,NaN,Tropical cyclone
41,14174,14174,Severe Cyclonic Storm Ten,East Pakistan,October 31,1960,NaN,Tropical cyclone
42,11468,11468,Cyclone Winnie,East Pakistan,May 6–9,1961,NaN,Tropical cyclone
43,12225,12225,1962 Buin Zahra earthquake,Iran,September 1,1962,NaN,Earthquake
44,22000,22000,May 1963 East Pakistan II cyclone,East Pakistan,May 28,1963,NaN,Tropical cyclone
45,7000,7000,Tropical Storm Joan (1964),Vietnam,November 4–11,1964,NaN,Tropical cyclone
46,47000,47000,1965 Bengal cyclones,East Pakistan,May 11–12 and June 1–2,1965,NaN,Tropical cyclone
47,"2,394–3,000",2394–3000,1966 Varto earthquake,Turkey,August 19,1966,NaN,Earthquake
48,10000,10000,1967 Paradip cyclone,India,October 26–30,1967,NaN,Tropical cyclone
49,15000,15000,1968 Dasht-e Bayaz and Ferdows earthquakes,Iran,August 31,1968,NaN,Earthquake
50,3000,3000,1969 Yangjiang earthquake,China,July 26,1969,NaN,Earthquake
51,"500,000+",500000,1970 Bhola cyclone,"India, East Pakistan",November 3,1970,NaN,Tropical cyclone
52,100000,100000,Hanoi and Red River Delta flood,North Vietnam,August 1,1971,NaN,Flood
53,5374,5374,1972 Qir earthquake,Iran,April 10,1972,NaN,Earthquake
54,1653,1653,1973 Flores cyclone,Indonesia,April 26–30,1973,NaN,Tropical cyclone
55,"8,210+",8210,Hurricane Fifi–Orlene,"Honduras, Nicaragua, El Salvador, Guatemala, B...",September 18–20,1974,NaN,Tropical cyclone
56,229000,229000,Typhoon Nina (1975),China,August 7,1975,NaN,Tropical cyclone
57,"242,769–655,000",242769–655000,1976 Tangshan earthquake,China,July 28,1976,NaN,Earthquake
58,"10,000–50,000",10000–50000,1977 Andhra Pradesh cyclone,India,November 19,1977,NaN,Tropical cyclone
59,"15,000–25,000",15000–25000,1978 Tabas earthquake,Iran,September 16,1978,NaN,Earthquake
60,2069,2069,Hurricane David,"Dominican Republic, Dominica",August 15 – September 8,1979,NaN,Tropical cyclone
61,5000,5000,1980 El Asnam earthquake,Algeria,October 10,1980,NaN,Earthquake
62,3000,3000,1981 Golbaf earthquake,Iran,June 11,1981,NaN,Earthquake
63,2800,2800,1982 North Yemen earthquake,Yemen,December 13,1982,NaN,Earthquake
64,1342,1342,1983 Erzurum earthquake,Turkey,October 30,1983,NaN,Earthquake
65,1474,1474,Typhoon Ike,Philippines,August 26 – September 6,1984,NaN,Tropical cyclone
66,23000,23000,Armero tragedy,Colombia,November 14,1985,NaN,Volcanic eruption
67,1746,1746,Lake Nyos disaster,Cameroon,August 21,1986,NaN,Limnic eruption
68,5000,5000,1987 Ecuador earthquakes,Ecuador,March 6,1987,NaN,Earthquake
69,25000,25000,1988 Armenian earthquake,Armenia,December 7,1988,NaN,Earthquake
70,3814,3814,1989 Sichuan flood,China,July 27,1989,NaN,Flood
71,50000,50000,1990 Manjil–Rudbar earthquake,Iran,June 21,1990,NaN,Earthquake
72,138866,138866,1991 Bangladesh cyclone,Bangladesh,April 24–30,1991,NaN,Tropical cyclone
73,2500,2500,1992 Flores earthquake and tsunami,Indonesia,December 12,1992,NaN,"Earthquake, Tsunami"
74,9748,9748,1993 Latur earthquake,India,September 9,1993,NaN,Earthquake
75,1100,1100,1994 Paez river earthquake,Colombia,June 6,1994,NaN,Earthquake
76,6434,6434,Great Hanshin earthquake,Japan,January 17,1995,NaN,Earthquake
77,1077,1077,1996 Andhra Pradesh cyclone,India,November 4–7,1996,NaN,Tropical cyclone
78,3123,3123,Tropical Storm Linda (1997),"Vietnam, Thailand",November 1–9,1997,NaN,"Tropical cyclone, Flood"
79,11374,11374,Hurricane Mitch,"Honduras, Nicaragua, El Salvador, Guatemala, B...",October 22 – November 9,1998,NaN,Tropical cyclone
80,17127,17127,1999 Izmit earthquake,Turkey,August 17,1999,NaN,Earthquake
81,800,800,2000 Mozambique flood,Mozambique,February–March,2000,NaN,Flood
82,20085,20085,2001 Gujarat earthquake,India,January 26,2001,NaN,Earthquake
83,1030,1030,2002 Indian heat wave,India,May,2002,NaN,Heat Wave
84,70000,70000,2003 European heat wave,"France, Portugal, United Kingdom, Netherlands,...",July–August,2003,NaN,Heat Wave
85,227898,227898,2004 Indian Ocean earthquake and tsunami,"Indonesia, Sri Lanka, India, Thailand, Somalia",December 26,2004,NaN,"Earthquake, Tsunami"
86,87351,87351,2005 Kashmir earthquake,"India, Pakistan",October 8,2005,NaN,Earthquake
87,5782,5782,2006 Yogyakarta earthquake,Indonesia,May 26,2006,NaN,Earthquake
88,15000,15000,Cyclone Sidr,"Bangladesh, India",November 11–16,2007,NaN,Tropical cyclone
89,138373,138373,Cyclone Nargis,Myanmar,April 27 – May 3,2008,NaN,Tropical cyclone
90,1115,1115,2009 Sumatra earthquake,Indonesia,September 30,2009,NaN,Earthquake
91,100000-316000,100000-316000,2010 Haiti earthquake,Haiti,January 12,2010,NaN,Earthquake
92,19749,19749,2011 Tōhoku earthquake and tsunami,Japan,March 11,2011,NaN,"Earthquake, Tsunami"
93,1901,1901,Typhoon Bopha,Philippines,December 4–5,2012,NaN,Tropical cyclone
94,6340,6340,Typhoon Haiyan,"Philippines, Vietnam, China",November 3–4,2013,NaN,Tropical cyclone
95,"2,665[11]",2665,2014 Afghanistan floods,Afghanistan,April 24 – May 15,2014,NaN,Flood
96,8964,8964,2015 Nepal earthquake,"Nepal, India",April 25,2015,NaN,Earthquake
97,676,676,2016 Ecuador earthquake,Ecuador,April 16,2016,NaN,Earthquake
98,3059,3059,Hurricane Maria,"Puerto Rico, Dominica",September 19–21,2017,NaN,Tropical cyclone
99,4340,4340,2018 Sulawesi earthquake and tsunami,Indonesia,September 28,2018,NaN,"Earthquake, Tsunami"
100,"1,600+",1600,2019 Indian floods,"India, Nepal",June–October,2019,NaN,Flood
101,"1,922[12]",1922,2020 Indian floods,"India, Bangladesh",June–September,2020,NaN,Flood
102,229,229,Cyclone Seroja,"East Timor, Indonesia, Australia",April 4,2021,NaN,Tropical cyclone
103,830000,830000,1556 Shaanxi earthquake,Ming dynasty (now China),"January 23, 1556","January 23, 1556",1.0,Earthquake
104,"242,769–655,000[13]",242769–655000,1976 Tangshan earthquake,China,"July 28, 1976","July 28, 1976",2.0,Earthquake
105,"100,000−316,000",100000−316000,2010 Haiti earthquake,Haiti,"January 12, 2010","January 12, 2010",3.0,Earthquake
106,"273,400[9]",273400,1920 Haiyuan earthquake,"Ningxia, Republic of China (now China)","December 16, 1920","December 16, 1920",4.0,Earthquake
107,"250,000–300,000[7]",250000–300000,526 Antioch earthquake,Byzantine Empire (now Turkey),May 526,May 526,5.0,Earthquake
108,"260,000[14]",260000,115 Antioch earthquake,Roman Empire (now Turkey),"December 13, 115","December 13, 115",6.0,Earthquake
109,230000,230000,1138 Aleppo earthquake,Zengid dynasty (now Syria),"October 11, 1138","October 11, 1138",7.0,Earthquake
110,227898,227898,2004 Indian Ocean earthquake,Indonesia,"December 26, 2004","December 26, 2004",8.0,Earthquake
111,200000,200000,1303 Hongdong earthquake[15],Mongol Empire (now China),"September 17, 1303","September 17, 1303",9.0,Earthquake
112,200000,200000,856 Damghan earthquake,Abbasid Caliphate (now Iran),"December 22, 856","December 22, 856",9.0,Earthquake
113,200000,200000,1780 Tabriz earthquake,Iran,"January 8, 1780","January 8, 1780",9.0,Earthquake
114,"15,000,000–55,000,000",15000000–55000000,Great Chinese Famine,China,1958–1961,1958–1961,1.0,Famine
115,"25,000,000[16]",25000000,Chinese famine of 1907,China,1907,1907,2.0,Famine
116,"9,000,000–13,000,000[17]",9000000–13000000,Northern Chinese Famine of 1876–1879,China,1876–1879,1876–1879,3.0,Famine
117,11000000,11000000,Chalisa famine,India,1783–1784,1783–1784,4.0,Famine
118,11000000,11000000,Doji bara famine or Skull famine,India,1789–1793,1789–1793,4.0,Famine
119,10000000,10000000,"Great Bengal famine of 1770, incl. Bihar & Orissa",British India,1769–1773,1769–1773,6.0,Famine
120,7500000,7500000,Great European Famine,Europe (all),1315–1317,1315–1317,7.0,Famine
121,7400000,7400000,Deccan famine of 1630–32,Mughal Empire now india,1630–1632,1630–1632,8.0,Famine
122,"5,000,000–8,000,000",5000000–8000000,Soviet famine of 1932–33,Soviet Union,1932–1933,1932–1933,9.0,Famine
123,5500000,5500000,Indian Great Famine of 1876–78,British India,1876–1878,1876–1878,10.0,Famine
124,1744,NaN,Lake Nyos disaster,Cameroon,"August 21, 1986","August 21, 1986",1.0,Limnic Eruptions
125,37,NaN,Lake Monoun disaster,Cameroon,"August 15, 1984","August 15, 1984",2.0,Limnic Eruptions
126,"1,200–2,500",1200–2500,Peshtigo Fire,"Wisconsin, United States","October 8, 1871","October 8, 1871",1.0,Wildfires/Bushfires
127,1200,1200,Kursha-2 Fire,Soviet Union,"August 3, 1936","August 3, 1936",2.0,Wildfires/Bushfires
128,453,453,Cloquet Fire[24],"Minnesota, United States","October 12, 1918","October 12, 1918",3.0,Wildfires/Bushfires
129,418+,418,Great Hinckley Fire,"Minnesota, United States","September 1, 1894","September 1, 1894",4.0,Wildfires/Bushfires
130,282,282,Thumb Fire,"Michigan, United States","September 5, 1881","September 5, 1881",5.0,Wildfires/Bushfires
131,240,240,1997 Indonesian forest fires[25][26],"Sumatra and Kalimantan, Indonesia",September 1997,September 1997,6.0,Wildfires/Bushfires
132,223,223,Matheson Fire,"Ontario, Canada","July 29, 1916","July 29, 1916",7.0,Wildfires/Bushfires
133,191,191,Black Dragon Fire[25][26],China and Soviet Union,"May 1, 1987","May 1, 1987",8.0,Wildfires/Bushfires
134,173,173,Black Saturday bushfires[25][26],Australia,"February 7, 2009","February 7, 2009",9.0,Wildfires/Bushfires
135,160–300,160–300,Miramichi Fire,Canada,"October 7, 1825","October 7, 1825",10.0,Wildfires/Bushfires
136,100000,100000,1786 Dadu River landslide dam; triggered by th...,China,1786,1786,1.0,Avalanches/Landslides
137,100000,100000,1920 Haiyuan landslides; triggered by the 1920...,China,1920,1920,1.0,Avalanches/Landslides
138,22000,22000,1970 Huascarán avalanche; triggered by the 197...,Peru,1970,1970,3.0,Avalanches/Landslides
139,"10,000–30,000",10000–30000,Vargas tragedy[29],Venezuela,1999,1999,4.0,Avalanches/Landslides
140,10000,10000,White Friday avalanches[30][31],Italy,1916,1916,4.0,Avalanches/Landslides
141,"5,000–28,000",5000–28000,Khait landslide[32][33],Tajikistan,1949,1949,6.0,Avalanches/Landslides
142,"4,000–6,000",4000–6000,1941 Huaraz avalanche[34],Peru,1941,1941,7.0,Avalanches/Landslides
143,4000,4000,1962 Huascarán avalanche[28],Peru,1962,1962,7.0,Avalanches/Landslides
144,3466,3466,1310 Western Hubei landslide[27],China,1310,1310,9.0,Avalanches/Landslides
145,3429,3429,1933 Diexi landslides[27],China,1933,1933,10.0,Avalanches/Landslides
146,4000,NaN,1972 Iran blizzard,Iran,1972,1972,1.0,Blizzard
147,3000,NaN,Carolean Death March,Norway,1719,1719,2.0,Blizzard
148,926,NaN,2008 Afghanistan blizzard,Afghanistan,2008,2008,3.0,Blizzard
149,400,NaN,Great Blizzard of 1888,United States,1888,1888,4.0,Blizzard
150,353,NaN,Great Appalachian Storm of 1950,United States,1950,1950,5.0,Blizzard
151,318,NaN,1993 Storm of the Century,United States,1993,1993,6.0,Blizzard
152,286,NaN,December 1960 nor'easter,United States,1960,1960,7.0,Blizzard
153,250,NaN,Great Lakes Storm of 1913,United States and Canada (Great Lakes region),1913,1913,8.0,Blizzard
154,235,NaN,Schoolhouse Blizzard,United States,1888,1888,9.0,Blizzard
155,201,NaN,North American blizzard of 1966,United States,1966,1966,10.0,Blizzard
156,"400,000–4,000,000[35]",400000–4000000,1931 China floods,China,1931,1931,1.0,Flood
157,"900,000–2,000,000",900000–2000000,1887 Yellow River (Huang He) flood,China,1887,1887,2.0,Flood
158,"230,000[36]",230000,1975 Banqiao Dam failure,China,1975,1975,3.0,Flood
159,145000,145000,1935 Yangtze flood,China,1935,1935,4.0,Flood
160,"100,000+",100000,"St. Felix's flood, storm surge",Holy Roman Empire,1530,1530,5.0,Flood
161,100000,100000,Hanoi and Red River Delta flood,North Vietnam,1971,1971,6.0,Flood
162,"100,000[citation needed]",100000,1911 Yangtze River flood,China,1911,1911,7.0,Flood
163,"100,000[37][38][39][40]",100000,The flood of 1099,Netherlands & England,1099,1099,8.0,Flood
164,"50,000–80,000[38]",50000–80000,"St. Lucia's flood, storm surge",Holy Roman Empire,1287,1287,9.0,Flood
165,60000,60000,"North Sea flood, storm surge",Holy Roman Empire,1212,1212,10.0,Flood
166,70000,70000,2003 European heat wave,Europe,2003,2003,1.0,Heat Wave
167,56000,56000,2010 Russian heat wave,Russia,2010,2010,2.0,Heat Wave
168,9500,9500,1901 eastern United States heat wave,United States,1901,1901,3.0,Heat Wave
169,"5,000–10,000",5000–10000,1988 United States heat wave,United States,1988,1988,4.0,Heat Wave
170,3418,3418,2006 European heat wave,Europe,2006[41],2006[41],5.0,Heat Wave
171,2541,2541,1998 India heat wave,India,1998[41],1998[41],6.0,Heat Wave
172,2500,2500,2015 Indian heat wave,India,2015,2015,7.0,Heat Wave
173,2000,2000,2015 Pakistan heat wave,Pakistan,2015,2015,8.0,Heat Wave
174,"1,700–5,000",1700–5000,1980 United States heat wave,United States,1980,1980,9.0,Heat Wave
175,"1,718[42]",1718,2010 Japanese heat wave,Japan,2010,2010,10.0,Heat Wave
176,75–200 million[43],75–200 million,Black Death,"Europe, Asia and North Africa",1346–1353,1346–1353,1.0,Pandemics / Epidemics
177,50 million+ (17–100 million)[44][45],50 million (17–100 million),1918 flu pandemic,Worldwide,1918–1920,1918–1920,2.0,Pandemics / Epidemics
178,35 million+ (as of 2018)[46],35 million (as of 2018),HIV/AIDS pandemic,Worldwide,1981–present,1981–present,3.0,Pandemics / Epidemics
179,30–50 million[47][48][49],30–50 million,Plague of Justinian,Europe and West Asia,541–542,541–542,4.0,Pandemics / Epidemics
180,12 million+ (India and China)[50],12 million (India and China),Third plague pandemic,Worldwide,1855–1960,1855–1960,5.0,Pandemics / Epidemics
181,5–15 million[51][52][53][54],5–15 million,Cocoliztli Epidemic of 1545–1548,Mexico,1545–1548,1545–1548,6.0,Pandemics / Epidemics
182,5–10 million[55],5–10 million,Antonine Plague,Roman Empire,165–180 (possibly up to 190),165–180 (possibly up to 190),7.0,Pandemics / Epidemics
183,5–8 million[53],5–8 million,1520 Mexico smallpox epidemic,Mexico,1519–1520,1519–1520,8.0,Pandemics / Epidemics
184,3.4 million+ (reported)[56]– 7.2 million (esti...,3.4 million (reported),COVID-19 pandemic,Worldwide,2020–present,2020–present,9.0,Pandemics / Epidemics
185,2.5 million[58],2.5 million,1918–1922 Russia typhus epidemic,Russia,1918–1922,1918–1922,10.0,Pandemics / Epidemics
186,1300,NaN,The Daulatpur–Saturia tornado,"Manikganj, Bangladesh",1989,1989,1.0,Tornadoes
187,695,NaN,The Tri-State Tornado,United States (Missouri–Illinois–Indiana),1925,1925,2.0,Tornadoes
188,681,NaN,1973 Dhaka tornado,Bangladesh,1973,1973,3.0,Tornadoes
189,660,NaN,1969 East Pakistan tornado,East Pakistan (now Bangladesh),1969,1969,4.0,Tornadoes
190,600,NaN,"The Valletta, Malta tornado",Malta,1551 or 1556,1551 or 1556,5.0,Tornadoes
191,500,NaN,The Sicily Tornadoes,"Sicily, Two Sicilies (now Italy)",1851,1851,6.0,Tornadoes
192,500,NaN,Narail-Magura tornado,"Jessore, East Pakistan, Pakistan (now Bangladesh)",1964,1964,6.0,Tornadoes
193,500,NaN,Madaripur-Shibchar tornado,Bangladesh,1977,1977,6.0,Tornadoes
194,400,NaN,The Ivanovo-Yaroslavl tornado,Soviet Union (now Russia),1984,1984,9.0,Tornadoes
195,317,NaN,The Great Natchez Tornado,United States (Mississippi–Louisiana),1840,1840,10.0,Tornadoes
196,"500,000+",500000,1970 Bhola cyclone,East Pakistan (now Bangladesh),"November 13, 1970","November 13, 1970",1.0,Tropical Cyclones
197,300000,300000,1737 Calcutta cyclone[59][better source needed],India,"October 7, 1737","October 7, 1737",2.0,Tropical Cyclones
198,300000,300000,1839 India Cyclone[8],India,"November 25, 1839","November 25, 1839",2.0,Tropical Cyclones
199,229000,229000,Super Typhoon Nina—contributed to Banqiao Dam ...,China,"August 7, 1975","August 7, 1975",4.0,Tropical Cyclones
200,"200,000[60]",200000,Great Backerganj Cyclone of 1876,British Raj (now Bangladesh),"October 30, 1876","October 30, 1876",5.0,Tropical Cyclones
201,"150,000 (30,000–300,000)[61]",150000 (30000–300000),1881 Haiphong typhoon,Vietnam,"October 8, 1881","October 8, 1881",6.0,Tropical Cyclones
202,138866,138866,1991 Bangladesh cyclone,Bangladesh,"April 29, 1991","April 29, 1991",7.0,Tropical Cyclones
203,138373,138373,Cyclone Nargis,Myanmar,"May 2, 2008","May 2, 2008",8.0,Tropical Cyclones
204,100000,100000,July 1780 typhoon[62],Philippines,1780,1780,9.0,Tropical Cyclones
205,"10,000–50,000",10000–50000,1977 Andhra Pradesh cyclone,India,"November 14, 1977","November 14, 1977",10.0,Tropical Cyclones
206,227898,227898,2004 Indian Ocean tsunami,Indian Ocean,"December 26, 2004","December 26, 2004",1.0,Tsunamis
207,"123,000[1]",123000,1908 Messina earthquake,Italy,"December 28, 1908","December 28, 1908",2.0,Tsunamis

In [775]:
df['Death toll (estimate)2'].fillna(df['Death toll (estimate)'], inplace =True)

In [776]:
df['Death toll (estimate)2'] = df['Death toll (estimate)2'].str.replace(r'(\d+–)', '', regex=True).str.replace(r'(\d+-)', '', regex=True).str.replace(r'(\d+−)', '', regex=True).str.replace('million', '000000')

In [777]:
df['Death toll (estimate)2'].fillna(df['Death toll (estimate)'], inplace =True)

In [778]:
df['Death toll (estimate)2']

0                          4000000
1                          2000000
2                           830000
3                           655000
4                           500000
5                           316000
6                           300000
7                           300000
8                           273400
9                           229000
10                         4000000
11                          655000
12                          500000
13                          316000
14                          273400
15                          229000
16                          227898
17                          145000
18                          143000
19                          138866
20                           32968
21                            1000
22                            1200
23                           61000
24                            4020
25                           10000
26                            4000
27                            2550
28                            1077
29                          110000
30                           40000
31                            2910
32                            4800
33                            2336
34                            2566
35                           33000
36                            1023
37                            4935
38                            1200
39                            1269
40                            5000
41                           14174
42                           11468
43                           12225
44                           22000
45                            7000
46                           47000
47                            3000
48                           10000
49                           15000
50                            3000
51                          500000
52                          100000
53                            5374
54                            1653
55                            8210
56                          229000
57                          655000
58                           50000
59                           25000
60                            2069
61                            5000
62                            3000
63                            2800
64                            1342
65                            1474
66                           23000
67                            1746
68                            5000
69                           25000
70                            3814
71                           50000
72                          138866
73                            2500
74                            9748
75                            1100
76                            6434
77                            1077
78                            3123
79                           11374
80                           17127
81                             800
82                           20085
83                            1030
84                           70000
85                          227898
86                           87351
87                            5782
88                           15000
89                          138373
90                            1115
91                          316000
92                           19749
93                            1901
94                            6340
95                            2665
96                            8964
97                             676
98                            3059
99                            4340
100                           1600
101                           1922
102                            229
103                         830000
104                         655000
105                         316000
106                         273400
107                         300000
108                         260000
109                         230000
110                         227898
111                         200000
112                         200000
113                         200000
114                       55000000
115                       25000000
116                       13000000
117                       11000000
118                       11000000
119                       10000000
120                        7500000
121                        7400000
122                        8000000
123                        5500000
124                           1744
125                             37
126                           2500
127                           1200
128                            453
129                            418
130                            282
131                            240
132                            223
133                            191
134                            173
135                            300
136                         100000
137                         100000
138                          22000
139                          30000
140                          10000
141                          28000
142                           6000
143                           4000
144                           3466
145                           3429
146                           4000
147                           3000
148                            926
149                            400
150                            353
151                            318
152                            286
153                            250
154                            235
155                            201
156                        4000000
157                        2000000
158                         230000
159                         145000
160                         100000
161                         100000
162                         100000
163                         100000
164                          80000
165                          60000
166                          70000
167                          56000
168                           9500
169                          10000
170                           3418
171                           2541
172                           2500
173                           2000
174                           5000
175                           1718
176                     200 000000
177         50 000000 (100 000000)
178         35 000000 (as of 2018)
179                      50 000000
180    12 000000 (India and China)
181                      15 000000
182                      10 000000
183                       8 000000
184          3.4 000000 (reported)
185                     2.5 000000
186                           1300
187                            695
188                            681
189                            660
190                            600
191                            500
192                            500
193                            500
194                            400
195                            317
196                         500000
197                         300000
198                         300000
199                         229000
200                         200000
201                150000 (300000)
202                         138866
203                         138373
204                         100000
205                          50000
206                         227898
207                         123000
208                         120000
209                          50000
210                         100000
211                          31000
212                          30000
213                          27122
214                          25674
215                           5700
216                          71000
217                          36000
218                          30000
219                          23000
220                          15000
221                          13000
222                          10000
223                           6000
224                           5000
225                           4011
Name: Death toll (estimate)2, dtype: object

In [782]:
df.at[176,'Death toll (estimate)2'] = '200000000'
df.at[177,'Death toll (estimate)2'] = '100000000'
df.at[178,'Death toll (estimate)2'] = '35000000'
df.at[180,'Death toll (estimate)2'] = '12000000'
df.at[184,'Death toll (estimate)2'] = '3400000'
df.at[185,'Death toll (estimate)2'] = '2500000'
df.at[201,'Death toll (estimate)2'] = '300000'

In [783]:
df['Death toll (estimate)2']

0        4000000
1        2000000
2         830000
3         655000
4         500000
5         316000
6         300000
7         300000
8         273400
9         229000
10       4000000
11        655000
12        500000
13        316000
14        273400
15        229000
16        227898
17        145000
18        143000
19        138866
20         32968
21          1000
22          1200
23         61000
24          4020
25         10000
26          4000
27          2550
28          1077
29        110000
30         40000
31          2910
32          4800
33          2336
34          2566
35         33000
36          1023
37          4935
38          1200
39          1269
40          5000
41         14174
42         11468
43         12225
44         22000
45          7000
46         47000
47          3000
48         10000
49         15000
50          3000
51        500000
52        100000
53          5374
54          1653
55          8210
56        229000
57        655000
58         50000
59         25000
60          2069
61          5000
62          3000
63          2800
64          1342
65          1474
66         23000
67          1746
68          5000
69         25000
70          3814
71         50000
72        138866
73          2500
74          9748
75          1100
76          6434
77          1077
78          3123
79         11374
80         17127
81           800
82         20085
83          1030
84         70000
85        227898
86         87351
87          5782
88         15000
89        138373
90          1115
91        316000
92         19749
93          1901
94          6340
95          2665
96          8964
97           676
98          3059
99          4340
100         1600
101         1922
102          229
103       830000
104       655000
105       316000
106       273400
107       300000
108       260000
109       230000
110       227898
111       200000
112       200000
113       200000
114     55000000
115     25000000
116     13000000
117     11000000
118     11000000
119     10000000
120      7500000
121      7400000
122      8000000
123      5500000
124         1744
125           37
126         2500
127         1200
128          453
129          418
130          282
131          240
132          223
133          191
134          173
135          300
136       100000
137       100000
138        22000
139        30000
140        10000
141        28000
142         6000
143         4000
144         3466
145         3429
146         4000
147         3000
148          926
149          400
150          353
151          318
152          286
153          250
154          235
155          201
156      4000000
157      2000000
158       230000
159       145000
160       100000
161       100000
162       100000
163       100000
164        80000
165        60000
166        70000
167        56000
168         9500
169        10000
170         3418
171         2541
172         2500
173         2000
174         5000
175         1718
176    200000000
177    100000000
178     35000000
179    50 000000
180     12000000
181    15 000000
182    10 000000
183     8 000000
184      3400000
185      2500000
186         1300
187          695
188          681
189          660
190          600
191          500
192          500
193          500
194          400
195          317
196       500000
197       300000
198       300000
199       229000
200       200000
201       300000
202       138866
203       138373
204       100000
205        50000
206       227898
207       123000
208       120000
209        50000
210       100000
211        31000
212        30000
213        27122
214        25674
215         5700
216        71000
217        36000
218        30000
219        23000
220        15000
221        13000
222        10000
223         6000
224         5000
225         4011
Name: Death toll (estimate)2, dtype: object

In [786]:
df.drop(columns = ['Death toll (estimate)','Rank'], inplace = True)

KeyError: "['Death toll (estimate)' 'Rank'] not found in axis"

In [787]:
df.rename(columns = {'Death toll (estimate)2': 'Death toll (estimate)'})

,Death toll (estimate),Event,Location,Date,Year,Type
0,4000000,1931 China floods,China,July 1931,July 1931,NaN
1,2000000,1887 Yellow River flood,China,September 1887,September 1887,NaN
2,830000,1556 Shaanxi earthquake,China,"January 23, 1556","January 23, 1556",NaN
3,655000,1976 Tangshan earthquake,China,"July 28, 1976","July 28, 1976",NaN
4,500000,1970 Bhola cyclone,East Pakistan (now Bangladesh),"November 13, 1970","November 13, 1970",NaN
5,316000,2010 Haiti earthquake,Haiti,"January 12, 2010","January 12, 2010",NaN
6,300000,526 Antioch earthquake,Byzantine Empire (now Turkey),May 526,May 526,NaN
7,300000,1839 India Cyclone,"Andhra Pradesh, India","November 25, 1839","November 25, 1839",NaN
8,273400,1920 Haiyuan earthquake,China,"December 16, 1920","December 16, 1920",NaN
9,229000,Typhoon Nina,China,"August 7, 1975","August 7, 1975",NaN
10,4000000,1931 China floods,China,July 1931,July 1931,NaN
11,655000,1976 Tangshan earthquake,NaN,"July 28, 1976","July 28, 1976",NaN
12,500000,1970 Bhola cyclone,East Pakistan (now Bangladesh),November 1970,November 1970,NaN
13,316000,2010 Haiti earthquake,NaN,"January 12, 2010","January 12, 2010",NaN
14,273400,1920 Haiyuan earthquake,China,"December 16, 1920","December 16, 1920",NaN
15,229000,Typhoon Nina—also contributed to Banqiao Dam f...,China,"August 7, 1975","August 7, 1975",NaN
16,227898,2004 Indian Ocean earthquake and tsunami,Indian Ocean,"December 26, 2004","December 26, 2004",NaN
17,145000,1935 Yangtze flood,China,1935,1935,NaN
18,143000,1923 Great Kantō earthquake,Japan,"September 1, 1923","September 1, 1923",NaN
19,138866,1991 Bangladesh cyclone,Bangladesh,"April 29, 1991","April 29, 1991",NaN
20,32968,1939 Erzincan earthquake,Turkey,December 27,1939,Earthquake
21,1000,1940 Vrancea earthquake,Romania,November 10,1940,Earthquake
22,1200,1941 Jizan earthquake,Saudi Arabia,January 11,1941,Earthquake
23,61000,1942 West Bengal cyclone,"West Bengal, India",October 14–18,1942,Tropical cyclone
24,4020,1943 Tosya–Ladik earthquake,Turkey,November 27,1943,Earthquake
25,10000,1944 San Juan earthquake,Argentina,January 15,1944,Earthquake
26,4000,1945 Balochistan earthquake,India,November 28,1945,Earthquake
27,2550,1946 Dominican Republic earthquake,Dominican Republic,August 4,1946,Earthquake
28,1077,Typhoon Kathleen,Japan,September 15,1947,Tropical cyclone
29,110000,1948 Ashgabat earthquake,"Russia, Iran",October 6,1948,Earthquake
30,40000,1949 Eastern Guatemalan floods,Guatemala,September 28 – October 14,1949,Flood
31,2910,1950 Pakistan flood,Pakistan,NaN,1950,Flood
32,4800,1951 Manchuria flood,China,September 18,1951,Flood
33,2336,1952 Severo-Kurilsk earthquake,Russia,November 4,1952,Earthquake
34,2566,1953 Japan floods,Japan,July,1953,Flood
35,33000,1954 Yangtze floods,China,June–September,1954,Flood
36,1023,Hurricane Janet,"Lesser Antilles, Mexico",September 22–30,1955,Tropical cyclone
37,4935,Typhoon Wanda (1956),China,August 1,1956,Tropical cyclone
38,1200,1957 Hamadan Province earthquake,Iran,December 13,1957,Earthquake
39,1269,Typhoon Ida (1958),Japan,September 26,1958,Tropical cyclone
40,5000,Typhoon Vera,Japan,September 26,1959,Tropical cyclone
41,14174,Severe Cyclonic Storm Ten,East Pakistan,October 31,1960,Tropical cyclone
42,11468,Cyclone Winnie,East Pakistan,May 6–9,1961,Tropical cyclone
43,12225,1962 Buin Zahra earthquake,Iran,September 1,1962,Earthquake
44,22000,May 1963 East Pakistan II cyclone,East Pakistan,May 28,1963,Tropical cyclone
45,7000,Tropical Storm Joan (1964),Vietnam,November 4–11,1964,Tropical cyclone
46,47000,1965 Bengal cyclones,East Pakistan,May 11–12 and June 1–2,1965,Tropical cyclone
47,3000,1966 Varto earthquake,Turkey,August 19,1966,Earthquake
48,10000,1967 Paradip cyclone,India,October 26–30,1967,Tropical cyclone
49,15000,1968 Dasht-e Bayaz and Ferdows earthquakes,Iran,August 31,1968,Earthquake
50,3000,1969 Yangjiang earthquake,China,July 26,1969,Earthquake
51,500000,1970 Bhola cyclone,"India, East Pakistan",November 3,1970,Tropical cyclone
52,100000,Hanoi and Red River Delta flood,North Vietnam,August 1,1971,Flood
53,5374,1972 Qir earthquake,Iran,April 10,1972,Earthquake
54,1653,1973 Flores cyclone,Indonesia,April 26–30,1973,Tropical cyclone
55,8210,Hurricane Fifi–Orlene,"Honduras, Nicaragua, El Salvador, Guatemala, B...",September 18–20,1974,Tropical cyclone
56,229000,Typhoon Nina (1975),China,August 7,1975,Tropical cyclone
57,655000,1976 Tangshan earthquake,China,July 28,1976,Earthquake
58,50000,1977 Andhra Pradesh cyclone,India,November 19,1977,Tropical cyclone
59,25000,1978 Tabas earthquake,Iran,September 16,1978,Earthquake
60,2069,Hurricane David,"Dominican Republic, Dominica",August 15 – September 8,1979,Tropical cyclone
61,5000,1980 El Asnam earthquake,Algeria,October 10,1980,Earthquake
62,3000,1981 Golbaf earthquake,Iran,June 11,1981,Earthquake
63,2800,1982 North Yemen earthquake,Yemen,December 13,1982,Earthquake
64,1342,1983 Erzurum earthquake,Turkey,October 30,1983,Earthquake
65,1474,Typhoon Ike,Philippines,August 26 – September 6,1984,Tropical cyclone
66,23000,Armero tragedy,Colombia,November 14,1985,Volcanic eruption
67,1746,Lake Nyos disaster,Cameroon,August 21,1986,Limnic eruption
68,5000,1987 Ecuador earthquakes,Ecuador,March 6,1987,Earthquake
69,25000,1988 Armenian earthquake,Armenia,December 7,1988,Earthquake
70,3814,1989 Sichuan flood,China,July 27,1989,Flood
71,50000,1990 Manjil–Rudbar earthquake,Iran,June 21,1990,Earthquake
72,138866,1991 Bangladesh cyclone,Bangladesh,April 24–30,1991,Tropical cyclone
73,2500,1992 Flores earthquake and tsunami,Indonesia,December 12,1992,"Earthquake, Tsunami"
74,9748,1993 Latur earthquake,India,September 9,1993,Earthquake
75,1100,1994 Paez river earthquake,Colombia,June 6,1994,Earthquake
76,6434,Great Hanshin earthquake,Japan,January 17,1995,Earthquake
77,1077,1996 Andhra Pradesh cyclone,India,November 4–7,1996,Tropical cyclone
78,3123,Tropical Storm Linda (1997),"Vietnam, Thailand",November 1–9,1997,"Tropical cyclone, Flood"
79,11374,Hurricane Mitch,"Honduras, Nicaragua, El Salvador, Guatemala, B...",October 22 – November 9,1998,Tropical cyclone
80,17127,1999 Izmit earthquake,Turkey,August 17,1999,Earthquake
81,800,2000 Mozambique flood,Mozambique,February–March,2000,Flood
82,20085,2001 Gujarat earthquake,India,January 26,2001,Earthquake
83,1030,2002 Indian heat wave,India,May,2002,Heat Wave
84,70000,2003 European heat wave,"France, Portugal, United Kingdom, Netherlands,...",July–August,2003,Heat Wave
85,227898,2004 Indian Ocean earthquake and tsunami,"Indonesia, Sri Lanka, India, Thailand, Somalia",December 26,2004,"Earthquake, Tsunami"
86,87351,2005 Kashmir earthquake,"India, Pakistan",October 8,2005,Earthquake
87,5782,2006 Yogyakarta earthquake,Indonesia,May 26,2006,Earthquake
88,15000,Cyclone Sidr,"Bangladesh, India",November 11–16,2007,Tropical cyclone
89,138373,Cyclone Nargis,Myanmar,April 27 – May 3,2008,Tropical cyclone
90,1115,2009 Sumatra earthquake,Indonesia,September 30,2009,Earthquake
91,316000,2010 Haiti earthquake,Haiti,January 12,2010,Earthquake
92,19749,2011 Tōhoku earthquake and tsunami,Japan,March 11,2011,"Earthquake, Tsunami"
93,1901,Typhoon Bopha,Philippines,December 4–5,2012,Tropical cyclone
94,6340,Typhoon Haiyan,"Philippines, Vietnam, China",November 3–4,2013,Tropical cyclone
95,2665,2014 Afghanistan floods,Afghanistan,April 24 – May 15,2014,Flood
96,8964,2015 Nepal earthquake,"Nepal, India",April 25,2015,Earthquake
97,676,2016 Ecuador earthquake,Ecuador,April 16,2016,Earthquake
98,3059,Hurricane Maria,"Puerto Rico, Dominica",September 19–21,2017,Tropical cyclone
99,4340,2018 Sulawesi earthquake and tsunami,Indonesia,September 28,2018,"Earthquake, Tsunami"
100,1600,2019 Indian floods,"India, Nepal",June–October,2019,Flood
101,1922,2020 Indian floods,"India, Bangladesh",June–September,2020,Flood
102,229,Cyclone Seroja,"East Timor, Indonesia, Australia",April 4,2021,Tropical cyclone
103,830000,1556 Shaanxi earthquake,Ming dynasty (now China),"January 23, 1556","January 23, 1556",Earthquake
104,655000,1976 Tangshan earthquake,China,"July 28, 1976","July 28, 1976",Earthquake
105,316000,2010 Haiti earthquake,Haiti,"January 12, 2010","January 12, 2010",Earthquake
106,273400,1920 Haiyuan earthquake,"Ningxia, Republic of China (now China)","December 16, 1920","December 16, 1920",Earthquake
107,300000,526 Antioch earthquake,Byzantine Empire (now Turkey),May 526,May 526,Earthquake
108,260000,115 Antioch earthquake,Roman Empire (now Turkey),"December 13, 115","December 13, 115",Earthquake
109,230000,1138 Aleppo earthquake,Zengid dynasty (now Syria),"October 11, 1138","October 11, 1138",Earthquake
110,227898,2004 Indian Ocean earthquake,Indonesia,"December 26, 2004","December 26, 2004",Earthquake
111,200000,1303 Hongdong earthquake[15],Mongol Empire (now China),"September 17, 1303","September 17, 1303",Earthquake
112,200000,856 Damghan earthquake,Abbasid Caliphate (now Iran),"December 22, 856","December 22, 856",Earthquake
113,200000,1780 Tabriz earthquake,Iran,"January 8, 1780","January 8, 1780",Earthquake
114,55000000,Great Chinese Famine,China,1958–1961,1958–1961,Famine
115,25000000,Chinese famine of 1907,China,1907,1907,Famine
116,13000000,Northern Chinese Famine of 1876–1879,China,1876–1879,1876–1879,Famine
117,11000000,Chalisa famine,India,1783–1784,1783–1784,Famine
118,11000000,Doji bara famine or Skull famine,India,1789–1793,1789–1793,Famine
119,10000000,"Great Bengal famine of 1770, incl. Bihar & Orissa",British India,1769–1773,1769–1773,Famine
120,7500000,Great European Famine,Europe (all),1315–1317,1315–1317,Famine
121,7400000,Deccan famine of 1630–32,Mughal Empire now india,1630–1632,1630–1632,Famine
122,8000000,Soviet famine of 1932–33,Soviet Union,1932–1933,1932–1933,Famine
123,5500000,Indian Great Famine of 1876–78,British India,1876–1878,1876–1878,Famine
124,1744,Lake Nyos disaster,Cameroon,"August 21, 1986","August 21, 1986",Limnic Eruptions
125,37,Lake Monoun disaster,Cameroon,"August 15, 1984","August 15, 1984",Limnic Eruptions
126,2500,Peshtigo Fire,"Wisconsin, United States","October 8, 1871","October 8, 1871",Wildfires/Bushfires
127,1200,Kursha-2 Fire,Soviet Union,"August 3, 1936","August 3, 1936",Wildfires/Bushfires
128,453,Cloquet Fire[24],"Minnesota, United States","October 12, 1918","October 12, 1918",Wildfires/Bushfires
129,418,Great Hinckley Fire,"Minnesota, United States","September 1, 1894","September 1, 1894",Wildfires/Bushfires
130,282,Thumb Fire,"Michigan, United States","September 5, 1881","September 5, 1881",Wildfires/Bushfires
131,240,1997 Indonesian forest fires[25][26],"Sumatra and Kalimantan, Indonesia",September 1997,September 1997,Wildfires/Bushfires
132,223,Matheson Fire,"Ontario, Canada","July 29, 1916","July 29, 1916",Wildfires/Bushfires
133,191,Black Dragon Fire[25][26],China and Soviet Union,"May 1, 1987","May 1, 1987",Wildfires/Bushfires
134,173,Black Saturday bushfires[25][26],Australia,"February 7, 2009","February 7, 2009",Wildfires/Bushfires
135,300,Miramichi Fire,Canada,"October 7, 1825","October 7, 1825",Wildfires/Bushfires
136,100000,1786 Dadu River landslide dam; triggered by th...,China,1786,1786,Avalanches/Landslides
137,100000,1920 Haiyuan landslides; triggered by the 1920...,China,1920,1920,Avalanches/Landslides
138,22000,1970 Huascarán avalanche; triggered by the 197...,Peru,1970,1970,Avalanches/Landslides
139,30000,Vargas tragedy[29],Venezuela,1999,1999,Avalanches/Landslides
140,10000,White Friday avalanches[30][31],Italy,1916,1916,Avalanches/Landslides
141,28000,Khait landslide[32][33],Tajikistan,1949,1949,Avalanches/Landslides
142,6000,1941 Huaraz avalanche[34],Peru,1941,1941,Avalanches/Landslides
143,4000,1962 Huascarán avalanche[28],Peru,1962,1962,Avalanches/Landslides
144,3466,1310 Western Hubei landslide[27],China,1310,1310,Avalanches/Landslides
145,3429,1933 Diexi landslides[27],China,1933,1933,Avalanches/Landslides
146,4000,1972 Iran blizzard,Iran,1972,1972,Blizzard
147,3000,Carolean Death March,Norway,1719,1719,Blizzard
148,926,2008 Afghanistan blizzard,Afghanistan,2008,2008,Blizzard
149,400,Great Blizzard of 1888,United States,1888,1888,Blizzard
150,353,Great Appalachian Storm of 1950,United States,1950,1950,Blizzard
151,318,1993 Storm of the Century,United States,1993,1993,Blizzard
152,286,December 1960 nor'easter,United States,1960,1960,Blizzard
153,250,Great Lakes Storm of 1913,United States and Canada (Great Lakes region),1913,1913,Blizzard
154,235,Schoolhouse Blizzard,United States,1888,1888,Blizzard
155,201,North American blizzard of 1966,United States,1966,1966,Blizzard
156,4000000,1931 China floods,China,1931,1931,Flood
157,2000000,1887 Yellow River (Huang He) flood,China,1887,1887,Flood
158,230000,1975 Banqiao Dam failure,China,1975,1975,Flood
159,145000,1935 Yangtze flood,China,1935,1935,Flood
160,100000,"St. Felix's flood, storm surge",Holy Roman Empire,1530,1530,Flood
161,100000,Hanoi and Red River Delta flood,North Vietnam,1971,1971,Flood
162,100000,1911 Yangtze River flood,China,1911,1911,Flood
163,100000,The flood of 1099,Netherlands & England,1099,1099,Flood
164,80000,"St. Lucia's flood, storm surge",Holy Roman Empire,1287,1287,Flood
165,60000,"North Sea flood, storm surge",Holy Roman Empire,1212,1212,Flood
166,70000,2003 European heat wave,Europe,2003,2003,Heat Wave
167,56000,2010 Russian heat wave,Russia,2010,2010,Heat Wave
168,9500,1901 eastern United States heat wave,United States,1901,1901,Heat Wave
169,10000,1988 United States heat wave,United States,1988,1988,Heat Wave
170,3418,2006 European heat wave,Europe,2006[41],2006[41],Heat Wave
171,2541,1998 India heat wave,India,1998[41],1998[41],Heat Wave
172,2500,2015 Indian heat wave,India,2015,2015,Heat Wave
173,2000,2015 Pakistan heat wave,Pakistan,2015,2015,Heat Wave
174,5000,1980 United States heat wave,United States,1980,1980,Heat Wave
175,1718,2010 Japanese heat wave,Japan,2010,2010,Heat Wave
176,200000000,Black Death,"Europe, Asia and North Africa",1346–1353,1346–1353,Pandemics / Epidemics
177,100000000,1918 flu pandemic,Worldwide,1918–1920,1918–1920,Pandemics / Epidemics
178,35000000,HIV/AIDS pandemic,Worldwide,1981–present,1981–present,Pandemics / Epidemics
179,50 000000,Plague of Justinian,Europe and West Asia,541–542,541–542,Pandemics / Epidemics
180,12000000,Third plague pandemic,Worldwide,1855–1960,1855–1960,Pandemics / Epidemics
181,15 000000,Cocoliztli Epidemic of 1545–1548,Mexico,1545–1548,1545–1548,Pandemics / Epidemics
182,10 000000,Antonine Plague,Roman Empire,165–180 (possibly up to 190),165–180 (possibly up to 190),Pandemics / Epidemics
183,8 000000,1520 Mexico smallpox epidemic,Mexico,1519–1520,1519–1520,Pandemics / Epidemics
184,3400000,COVID-19 pandemic,Worldwide,2020–present,2020–present,Pandemics / Epidemics
185,2500000,1918–1922 Russia typhus epidemic,Russia,1918–1922,1918–1922,Pandemics / Epidemics
186,1300,The Daulatpur–Saturia tornado,"Manikganj, Bangladesh",1989,1989,Tornadoes
187,695,The Tri-State Tornado,United States (Missouri–Illinois–Indiana),1925,1925,Tornadoes
188,681,1973 Dhaka tornado,Bangladesh,1973,1973,Tornadoes
189,660,1969 East Pakistan tornado,East Pakistan (now Bangladesh),1969,1969,Tornadoes
190,600,"The Valletta, Malta tornado",Malta,1551 or 1556,1551 or 1556,Tornadoes
191,500,The Sicily Tornadoes,"Sicily, Two Sicilies (now Italy)",1851,1851,Tornadoes
192,500,Narail-Magura tornado,"Jessore, East Pakistan, Pakistan (now Bangladesh)",1964,1964,Tornadoes
193,500,Madaripur-Shibchar tornado,Bangladesh,1977,1977,Tornadoes
194,400,The Ivanovo-Yaroslavl tornado,Soviet Union (now Russia),1984,1984,Tornadoes
195,317,The Great Natchez Tornado,United States (Mississippi–Louisiana),1840,1840,Tornadoes
196,500000,1970 Bhola cyclone,East Pakistan (now Bangladesh),"November 13, 1970","November 13, 1970",Tropical Cyclones
197,300000,1737 Calcutta cyclone[59][better source needed],India,"October 7, 1737","October 7, 1737",Tropical Cyclones
198,300000,1839 India Cyclone[8],India,"November 25, 1839","November 25, 1839",Tropical Cyclones
199,229000,Super Typhoon Nina—contributed to Banqiao Dam ...,China,"August 7, 1975","August 7, 1975",Tropical Cyclones
200,200000,Great Backerganj Cyclone of 1876,British Raj (now Bangladesh),"October 30, 1876","October 30, 1876",Tropical Cyclones
201,300000,1881 Haiphong typhoon,Vietnam,"October 8, 1881","October 8, 1881",Tropical Cyclones
202,138866,1991 Bangladesh cyclone,Bangladesh,"April 29, 1991","April 29, 1991",Tropical Cyclones
203,138373,Cyclone Nargis,Myanmar,"May 2, 2008","May 2, 2008",Tropical Cyclones
204,100000,July 1780 typhoon[62],Philippines,1780,1780,Tropical Cyclones
205,50000,1977 Andhra Pradesh cyclone,India,"November 14, 1977","November 14, 1977",Tropical Cyclones
206,227898,2004 Indian Ocean tsunami,Indian Ocean,"December 26, 2004","December 26, 2004",Tsunamis
207,123000,1908 Messina earthquake,Italy,"December 28, 1908","December 28, 1908",Tsunamis
208,120000,1883 eruption of Krakatoa,Indonesia,"August 26, 1883","August 26, 1883",Tsunamis
209,50000,1755 Lisbon earthquake,Portugal,"November 1, 1755","November 1, 1755",Tsunamis
210,100000,Minoan eruption,Greece,2nd Millennium BC,2nd Millennium BC,Tsunamis
211,31000,1498 Nankai earthquake,Japan,"September 20, 1498","September 20, 1498",Tsunamis
212,30000,1707 Hōei earthquake,Japan,"October 28, 1707","October 28, 1707",Tsunamis
213,27122,1896 Sanriku earthquake,Japan,"June 15, 1896","June 15, 1896",Tsunamis
214,25674,1868 Arica earthquake,Chile,"August 13, 1868","August 13, 1868",Tsunamis
215,5700,365 Crete earthquake,Greece,"July 21, 365","July 21, 365",Tsunamis
216,71000,1815 eruption of Mount Tambora (see also Year ...,Indonesia,"April 10, 1815","April 10, 1815",Volcanic Eruptions
217,36000,1883 eruption of Krakatoa,Indonesia,"August 26, 1883","August 26, 1883",Volcanic Eruptions
218,30000,1902 eruption of Mount Pelée,Martinique,"May 7, 1902","May 7, 1902",Volcanic Eruptions
219,23000,Armero tragedy,Colombia,"November 13, 1985","November 13, 1985",Volcanic Eruptions
220,15000,1792 Unzen earthquake and tsunami,Japan,"May 21, 1792","May 21, 1792",Volcanic Eruptions
221,13000,Eruption of Mount Vesuvius in 79 AD,Italy,79,79,Volcanic Eruptions
222,10000,1586 Kelud eruption,Indonesia,1586,1586,Volcanic Eruptions
223,6000,1902 Santa Maria eruption,Guatemala,"October 24, 1902","October 24, 1902",Volcanic Eruptions
224,5000,1919 Kelud mudflow,Indonesia,"May 19, 1919","May 19, 1919",Volcanic Eruptions
225,4011,1822 Galunggung eruption,Indonesia,1822,1822,Volcanic Eruptions

In [788]:
df.Year = df.loc[(df.Year == df.Year.isna()), 'Year'] = df.Event.str.extract(r'(\d{1,4})', expand= False)

In [804]:
df.Year.fillna(value = df.Date ,inplace = True)

(152, 6)

In [795]:
# drop na. 
df.dropna(inplace = True)

In [798]:
df.shape

(152, 6)

In [800]:
df.to_csv('.\global_disasters.csv', index=False)